{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>Охрана труда с изменениями сентября 2022</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">

                <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width:100%;">
Для завершения курса необходимо пройти обязательные модули и набрать проходной балл.
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#" style="white-space: break-spaces;">Обязательные модули:
   А. Обучение по общим вопросам охраны труда и функционирования системы управления охраной труда
   Тест по "А. Обучение по общим вопросам охраны труда и функционирования системы управления охраной труда"
   Б. Безопасные методы и приемы выполнения работ при воздействии вредных и (или) опасных производственных факторов, опасностей, идентифицированных в рамках системы управления охраной труда в организации и оценки профессиональных рисков
   Итоговый тест по курсу : "Безопасные методы и приемы выполнения работ при воздействии вредных и (или) опасных производственных факторов, опасностей, идентифицированных в рамках системы управления охраной труда в организации и оценки профессиональных рисков"
   В. Безопасные методы и приемы выполнения работ повышенной опасности
   Итоговый тест к курсу: "Безопасные методы и приемы выполнения работ повышенной опасности"
   Г. Средства индивидуальной защиты
   Итоговый тест по курсу "Средства индивидуальной защиты"
   Оказание первой помощи пострадавшим
   Итоговый тест к курсу: "Оказание первой помощи пострадавшим"</a></li>

  </ul>
</div>


                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <br>
                                               <h3 class="post-title">Цель курса:</h3>
                        <p>Обучение сотрудников организаций и проверка знания требований охраны труда в соответствии с Постановлением Правительства от 24 декабря 2021 года N 2464 "О порядке обучения по охране труда и проверки знания требований охраны труда"</p>

                        <h3 class="post-title">Содержание курса:</h3>
                        <p> <b>А.</b> Обучение по общим вопросам охраны труда и функционирования системы управления охраной труда:</p>
                        <ol>
                            <li>Основы охраны труда в Российской Федерации</li>
                            <li>Стратегия безопасности труда и охраны здоровья</li>
                            <li>Система управления охраной труда в организации</li>
                            <li>Расследование и предупреждение несчастных случаев и профессиональных заболеваний</li>
                            <li>Организация оказания первой помощи</li>
                        </ol>

                        <p> <b>Б.</b> Безопасные методы и приемы выполнения работ при воздействии вредных и (или) опасных производственных факторов, опасностей, идентифицированных в рамках системы управления охраной труда в организации и оценки профессиональных рисков:</p>
                        <ol>
                            <li>Виды опасных и вредных производственных факторов</li>
                            <br>
                            <ol type="I">
                                <li>Опасные и вредные производственные факторы, обладающие свойствами физического воздействия на организм работающего человека</li>
                                <br>
                                <ol type="a">
                                    <li>Опасные и вредные производственные факторы, связанные с силами и энергией механического движения, в том числе в поле тяжести</li>
                                    <li>Опасные и вредные производственные факторы, связанные с чрезмерно высокой или низкой температурой материальных объектов производственной среды, могущих вызвать ожоги (обморожения) тканей организма человека</li>
                                    <li>Опасные и вредные производственные факторы, связанные с резким изменением (повышением или понижением) барометрического давления воздуха производственной среды на рабочем месте или с его существенным отличием от нормального атмосферного давления (за пределами его естественной изменчивости)</li>
                                    <li>Опасные и вредные производственные факторы, связанные с аномальными микроклиматическими параметрами воздушной среды на местонахождении работающего: температурой и относительной влажностью воздуха, скоростью движения (подвижностью) воздуха относительно тела работающего, а также с тепловым излучением окружающих поверхностей, зон горения, фронта пламени, солнечной инсоляции</li>
                                    <li>Опасные и вредные производственные факторы, связанные с чрезмерным загрязнением воздушной среды в зоне дыхания, то есть с аномальным физическим состоянием воздуха (в том числе пониженной или повышенной ионизацией) и (или) аэрозольным составом воздуха</li>
                                    <li>Опасные и вредные производственные факторы, связанные с механическими колебаниями твердых тел и их поверхностей</li>
                                    <li>Опасные и вредные производственные факторы, связанные с электрическим током, вызываемым разницей электрических потенциалов, под действие которого попадает работающий, включая действие молнии и высоковольтного разряда в виде дуги, а также электрического разряда живых организмов</li>
                                    <li>Опасные и вредные производственные факторы, связанные с электромагнитными полями, неионизирующими ткани тела человека</li>
                                    <li>Опасные и вредные производственные факторы, связанные со световой средой (некогерентными неионизирующими излучениями оптического диапазона электромагнитных полей) и характеризуемые чрезмерными (аномальными относительно природных значений и спектра) характеристиками световой среды, затрудняющими безопасное ведение трудовой и производственной деятельности</li>
                                    <li>Опасные и вредные производственные факторы, связанные с неионизирующими излучениями</li>
                                    <li> Опасные и вредные производственные факторы, связанные с повышенным уровнем ионизирующих излучений</li>
                                </ol>
                                <br>
                                <li>Опасные и вредные факторы обладающие свойствами химического воздействия на организм человека:</li>
                                <br>
                                <ol type="a">
                                    <li>Группы проникновения химических веществ</li>
                                    <li>Виды химических веществ по характеру результирующего химического воздействия на организм человека</li>
                                    <li>Виды химических веществ по специфике воздействия на человека</li>
                                </ol>

                                <br>
                                <li>Опасные и вредные производственные факторы, обладающие свойствами биологического воздействия на организм человека:</li>
                                <br>
                                <ol type="a">
                                    <li>Виды биологических объектов, обладающих биологическим воздействием на организм работающего</li>
                                    <li>Виды биологических объектов, обладающих биологическим воздействием на организм работающего по характеру проникновения в организм работающего человека</li>
                                </ol>


                                <br>
                                <li>Опасные и вредные производственные факторы, обладающие свойствами психофизиологического воздействия на организм человека:</li>
                                <br>
                                <ol type="a">
                                    <li>Опасные и вредные производственные факторы, обладающие свойствами психофизиологического воздействия на организм человека</li>
                                    <li>Физические перегрузки</li>
                                    <li>Физические перегрузки организма работающего, связанные с тяжестью трудового процесса</li>
                                    <li>Нервно-психические перегрузки</li>
                                </ol>
                            </ol>


          <p> <b>В.</b> Безопасные методы и приемы выполнения работ повышенной опасности, к которым предъявляются дополнительные требования в соответствии с нормативными правовыми актами, содержащими государственные нормативные требования охраны труда:</p>
                        <ol>
                            <li>Работы на высоте</li>
                            <li>Работы в зоне высоковольтных линий электропередачи</li>
                            <li>Работы, связанные с открытым огнем (газосварка, газорезка)</li>
                            <li>Работы, связанные с эксплуатацией сосудов (баллонов) под давлением</li>
                            <li>Работы, связанные с работами кранов, подъемных механизмов</li>
                            <li>Работы, по обслуживанию и ремонту тепловых энергоустановок</li>
                            <li>Работы по обслуживанию и ремонту электроустановок</li>
                            <li>Работы в ограниченных и замкнутых пространствах</li>
                            <li>Работы по обслуживанию или ремонту опасных производственных объектов</li>
                            </ol>
                            <p> <b>Г.</b> Средства индивидуальной защиты</p>
                            <p> <b>Д.</b> Оказание первой помощи пострадавшим</p>
                        </ol>

                         <h3 class="post-title">Время обучения:</h3>
                        <p>Более 40 академических часов</p>

                        <h3 class="post-title">Тестирование:</h3>
                        <p>Для успешного завершения курса необходимо пройти Итоговое тестирование.</p>

<h3 class="post-title">Карта курса:</h3>

                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>

    							<td align="center" style="border: 1px solid black;  border-collapse: collapse;">
                                    <div class="username"><p><b>А. Обучение по общим вопросам охраны труда и функционирования системы управления охраной труда</b></p>
                                    <p>Учебный модуль. Обязательный раздел.</p>
                                    </div>

                                    <a href="{% url 'studyapp:study_start' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px;">Пройти</a>
                                    <br>
                                </td>

    							<td align="center" style="border: 1px solid black;  border-collapse: collapse;">
                                    <div class="username"><p><b>Тест по "А. Обучение по общим вопросам охраны труда и функционирования системы управления охраной труда"</b></p>
                                    <p>Тест. Обязательный раздел.</p>
                                    </div>

                                    <a href="{% url 'tests:test_a' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px;">Пройти</a>
                                    <br>
                                </td>

                            </tr>
                            <tr>

    							<td align="center" style="border: 1px solid black;  border-collapse: collapse;">
                                    <div class="username"><p><b>Б. Безопасные методы и приемы выполнения работ при воздействии вредных и (или) опасных производственных факторов, опасностей, идентифицированных в рамках системы управления охраной труда в организации и оценки профессиональных рисков</b></p>
                                    <p>Учебный модуль. Обязательный раздел.</p>
                                    </div>

                                    <a href="{% url 'studyapp:topics_b' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px;">Пройти</a>
                                    <br>
                                </td>

    							<td align="center" style="border: 1px solid black;  border-collapse: collapse;">
                                    <div class="username"><p><b>Тест по "Б. Безопасные методы и приемы выполнения работ при воздействии вредных и (или) опасных производственных факторов, опасностей, идентифицированных в рамках системы управления охраной труда в организации и оценки профессиональных рисков"</b></p>
                                    <p>Тест. Обязательный раздел.</p>
                                    </div>

                                    <a href="{% url 'tests:test_b' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px;">Пройти</a>
                                    <br>
                                </td>

                            </tr>

                            <tr>

    							<td align="center" style="border: 1px solid black;  border-collapse: collapse;">
                                    <div class="username"><p><b>В. Безопасные методы и приемы выполнения работ повышенной опасности</b></p>
                                    <p>Учебный модуль. Обязательный раздел.</p>
                                    </div>

                                    <a href="{% url 'studyapp:topics_c' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px;">Пройти</a>
                                    <br>
                                </td>

    							<td align="center" style="border: 1px solid black;  border-collapse: collapse;">
                                    <div class="username"><p><b>Тест по "В. Безопасные методы и приемы выполнения работ повышенной опасности"</b></p>
                                    <p>Тест. Обязательный раздел.</p>
                                    </div>

                                    <a href="{% url 'tests:test_c' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px;">Пройти</a>
                                    <br>
                                </td>

                            </tr>


                            <tr>

    							<td align="center" style="border: 1px solid black;  border-collapse: collapse;">
                                    <div class="username"><p><b>Г. Средства индивидуальной защиты</b></p>
                                    <p>Учебный модуль. Обязательный раздел.</p>
                                    </div>

                                    <a href="{% url 'studyapp:topics_d' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px;">Пройти</a>
                                    <br>
                                </td>

    							<td align="center" style="border: 1px solid black;  border-collapse: collapse;">
                                    <div class="username"><p><b>Тест по "Г. Средства индивидуальной защиты"</b></p>
                                    <p>Тест. Обязательный раздел.</p>
                                    </div>

                                    <a href="{% url 'tests:test_a' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px;">Пройти</a>
                                    <br>
                                </td>

                            </tr>


                            <tr>

    							<td align="center" style="border: 1px solid black;  border-collapse: collapse;">
                                    <div class="username"><p><b>Оказание первой помощи пострадавшим</b></p>
                                    <p>Учебный модуль. Обязательный раздел.</p>
                                    </div>

                                    <a href="{% url 'studyapp:topics_e' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px;">Пройти</a>
                                    <br>
                                </td>

    							<td align="center" style="border: 1px solid black;  border-collapse: collapse;">
                                    <div class="username"><p><b>Тест по "Оказание первой помощи пострадавшим"</b></p>
                                    <p>Тест. Обязательный раздел.</p>
                                    </div>

                                    <a href="{% url 'tests:test_a' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px;">Пройти</a>
                                    <br>
                                </td>

                            </tr>

                        </table>




                    </div>
                </div>
            </div>
        </article>
{% endblock %}