{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>В. Безопасные методы и приемы выполнения работ повышенной опасности</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->



        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="position: fixed; left: 10px; width: 20%;">
  Вспомогательное меню по теме
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Обучение охране труда</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <b>В. Безопасные методы и приемы выполнения работ повышенной опасности</b>
    </div>
    <div class="dropdown mt-6">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;  width: 100%;">
Выбрать тему
      </button>


              <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_1' %}" style="white-space: pre-wrap;">Тема 1. Основы охраны труда в Российской Федерации</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_2' %}" style="white-space: pre-wrap;">Тема 2. Безопасные методы и приемы выполнения работ повышенной опасности</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_3' %}" style="white-space: pre-wrap;">Тема 3. Работы на высоте</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_4' %}" style="white-space: pre-wrap;">Тема 4. Работы, связанные с работами кранов, подъемных механизмов</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_5' %}" style="white-space: pre-wrap;">Тема 5. Работы, связанные с эксплуатацией сосудов (баллонов) под давлением</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_6' %}" style="white-space: pre-wrap;">Тема 6. Работы по обслуживанию и ремонту тепловых энергоустановок</a></li>
<!--        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_7' %}" style="white-space: pre-wrap;">Тема 7. Работы по обслуживанию и ремонту электроустановок</a></li>-->
<!--        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_8' %}" style="white-space: pre-wrap;">Тема 8. Работы в ограниченных и замкнутых пространствах</a></li>-->
      </ul>



      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;">
        Тема 5. Работы, связанные с эксплуатацией сосудов (баллонов) под давлением
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#concepts1" style="white-space: pre-wrap;">1. Требования к персоналу, обслуживающему сосуды и аппараты, работающие под давлением</a></li>
        <li><a class="dropdown-item" href="#concepts2" style="white-space: pre-wrap;">2. Контрольно-измерительная и предохранительная аппаратура</a></li>
      </ul>

    </div>
  </div>
</div>



                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <br>
                                               <h2 class="post-title"> <a name="concepts1"></a>Требования к персоналу, обслуживающему сосуды и аппараты, работающие под давлением</h2>

<p style="white-space: pre-wrap;">К работе по обслуживанию сосудов, работающих под давлением, допускаются рабочие в возрасте <b>не моложе 18 лет,</b> прошедшие <b>медицинскую комиссию,</b> а также:
• вводный и первичный инструктажи;
• инструктаж по пожарной безопасности;
• инструктаж по электробезопасности;
• обучение и проверку знаний по технике безопасности.
• обучение и проверку знаний по правилам устройства и безопасной эксплуатации сосудов, работающих под давлением через учебно-курсовой комбинат.

<b>Аппаратчик, обслуживающий сосуды, должен:</b>
• проходить повторный и внеплановый инструктажи;
• выполнять только ту работу, которая входит в обязанности;
• выполнять требования запрещающих, предписывающих плакатов.

<b>Аппаратчик, обслуживающий сосуды, должен знать:</b>
• действия на человека опасных и вредных факторов;
• правила устройства и безопасной эксплуатации сосудов, работающих под давлением;
• требования производственной санитарии;
• устройство оборудования;
• правила внутреннего распорядка;
• назначение средств индивидуальной защиты
</p>

<a name="events1"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
Средства индивидуальной защиты
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#events1"  style="white-space: break-spaces;">Аппаратчик, обслуживающий сосуды, должен использовать следующие средства индивидуальной защиты:
• костюм (халат) хлопчатобумажный;
• рукавицы комбинированные;
• сапоги резиновые.
    </a></li>
  </ul>
</div>

<a name="events2"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
Опасные производственные факторы
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item" href="#events2"  style="white-space: break-spaces;">На аппаратчика, обслуживающего сосуды, во время работы могут воздействовать следующие опасные производственные факторы:
• падающие с высоты предметы;
• недостаточная освещенность;
• повышенная влажность;
• повышенные уровни шума и вибрации;
• повышенное давление;
• повышенная температура.
    </a></li>
  </ul>
</div>



<br>

<h2 class="post-title" > <a name="concepts2"></a>Контрольно-измерительная и предохранительная аппаратура</h2>
 <p style="white-space: pre-wrap;"><b>Для управления работой и обеспечения безопасных условий эксплуатации</b> сосуды в зависимости от назначения должны быть оснащены:
• запорной или запорно-регулирующей арматурой;
• приборами для измерения давления;
• приборами для измерения температуры;
• предохранительными устройствами;
• указателями уровня жидкости.
</p>

                        <br>

 <h3 class="post-title" >  ЗАПОРНАЯ И ЗАПОРНО–РЕГУЛИРУЮЩАЯ АРМАТУРА</h3>


<p style="white-space: pre-wrap;">Запорная и запорно-регулирующая арматура должна устанавливаться на штуцерах, непосредственно присоединенных к сосуду, или на трубопроводах, подводящих к сосуду и отводящих из него рабочую среду.

В случае последовательного соединения нескольких сосудов необходимость установки такой арматуры между ними определяется разработчиком проекта.

<b>Арматура должна иметь следующую маркировку:</b>
• наименование или товарный знак изготовителя;
• условный проход, мм;
• условное давление, МПа (допускается указывать рабочее давление и допустимую температуру);
• направление потока среды;
• марку материала корпуса.

Количество, тип арматуры и места установки должны выбираться разработчиком проекта сосуда исходя из конкретных условий эксплуатации и требований Правил.

На маховике запорной арматуры должно быть указано направление его вращения при открывании или закрывании арматуры.

Арматуру, имеющую маркировку, но не имеющую паспорта, допускается применять после проведения ревизии арматуры, испытания и проверки марки материала. При этом владельцем арматуры должен быть составлен паспорт.
</p>

                        <br>

 <h3 class="post-title" >  МАНОМЕТРЫ</h3>


<p style="white-space: pre-wrap;">Каждый сосуд и самостоятельные полости с разными давлениями должны быть снабжены манометрами прямого действия. Манометр устанавливается на штуцере сосуда или трубопроводе между сосудом и запорной арматурой.

Манометры должны иметь <b>класс точности не ниже:</b>
• 2,5-при рабочем давлении сосуда до 2,5 Мпа;
• 1,5-при рабочем давлении сосуда свыше 2,5 МПа.

Манометр должен выбираться с такой шкалой, чтобы предел измерения рабочего давления находился <b>во второй трети шкалы.</b>

На шкале манометра владельцем сосуда должна быть нанесена <b>красная черта,</b> указывающая рабочее давление в сосуде. Взамен красной черты разрешается прикреплять к корпусу манометра металлическую пластину, окрашенную в красный цвет и плотно прилегающую к стеклу манометра.

Манометр должен быть установлен так, чтобы его показания были отчетливо видны обслуживающему персоналу.

Номинальный диаметр корпуса манометров, устанавливаемых на высоте до 2 м от уровня площадки наблюдения за ними, должен быть не менее 100 мм, на высоте от 2 до 3 м - не менее
160 мм.

Установка манометров на высоте <b>более 3 м</b> от уровня площадки <b>не разрешается.</b>

Между манометром и сосудом должен быть установлен <b>трехходовой кран</b> или заменяющее его устройство, позволяющее проводить периодическую проверку манометра с помощью контрольного.

В необходимых случаях манометр в зависимости от условий работы и свойств среды, находящейся в сосуде, должен снабжаться или сифонной трубкой, или масляным буфером, или другими устройствами, предохраняющими его от непосредственного воздействия среды и температуры и обеспечивающими его надежную работу. Манометры и соединяющие их с сосудом трубопроводы должны быть защищены от замерзания.

<b>Манометр не допускается к применению в случаях, когда:</b>
• отсутствует пломба или клеймо с отметкой о проведении поверки;
• просрочен срок поверки;
• стрелка при его отключении не возвращается к нулевому показанию шкалы на величину, превышающую половину допускаемой погрешности для данного прибора;
• разбито стекло или имеются повреждения, которые могут отразиться на правильности его показаний.
    </p>

<a name="events3"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
Поверка манометров
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
    <li><a class="dropdown-item" href="#events3"  style="white-space: break-spaces;">Поверка манометров с их опломбированием или клеймением должна производиться не реже одного раза в 12 месяцев. Кроме того, не реже одного раза в 6 месяцев владельцем сосуда должна производиться дополнительная проверка рабочих манометров контрольным манометром с записью результатов в журнал контрольных проверок.

При отсутствии контрольного манометра допускается дополнительную проверку производить проверенным рабочим манометром, имеющим с проверяемым манометром одинаковую шкалу и класс точности.
    </a></li>
  </ul>
</div>

                        <br>

 <h3 class="post-title" >  ПРИБОРЫ ДЛЯ ИЗМЕРЕНИЯ ТЕМПЕРАТУРЫ</h3>


<p style="white-space: pre-wrap;">Сосуды, работающие при изменяющейся температуре стенок, должны быть снабжены приборами для <b>контроля скорости и равномерности прогрева</b> по длине и высоте сосуда и реперами для контроля тепловых перемещений.

Необходимость оснащения сосудов указанными приборами и реперами, а также допустимая скорость прогрева и охлаждения сосудов определяются разработчиком проекта и указываются изготовителем в паспорте сосуда или в руководстве по эксплуатации.
</p>

                        <br>

 <h3 class="post-title" >  ПРЕДОХРАНИТЕЛЬНЫЕ УСТРОЙСТВА ОТ ПОВЫШЕНИЯ ДАВЛЕНИЯ</h3>


<p style="white-space: pre-wrap;">Каждый сосуд (полость комбинированного сосуда) должен быть снабжен предохранительными устройствами от повышения давления выше допустимого значения.

<b>В качестве предохранительных устройств применяются:</b>
пружинные предохранительные клапаны;
рычажно-грузовые предохранительные клапаны;
импульсные предохранительные устройства (ИПУ), состоящие из главного предохранительного клапана (ГПК) и управляющего импульсного клапана (ИПК) прямого действия;
предохранительные устройства с разрушающимися мембранами (мембранные предохранительные устройства - МПУ);
другие устройства, применение которых согласовано с Ростехнадзором.

Установка рычажно-грузовых клапанов на передвижных сосудах не допускается.
</p>

<a name="events4"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
Клапаны
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
    <li><a class="dropdown-item" href="#events4"  style="white-space: break-spaces;">Конструкция пружинного клапана должна исключать возможность <b>затяжки пружины сверх установленной величины,</b> а пружина должна быть защищена от недопустимого нагрева (охлаждения) и непосредственного воздействия рабочей среды, если она оказывает вредное действие на материал пружины.

Конструкция пружинного клапана должна предусматривать <b>устройство для проверки исправности</b> действия клапана в рабочем состоянии путем принудительного открывания его во время работы.

Допускается установка предохранительных клапанов <b>без приспособления для принудительного открывания,</b> если последнее нежелательно по свойствам среды (взрывоопасная, горючая, 1-го и 2-го классов опасности) или по условиям технологического процесса. В этом случае проверка срабатывания клапанов должна осуществляться на стендах.

Если рабочее давление сосуда равно или больше давления питающего источника и в сосуде исключена возможность повышения давления от химической реакции или обогрева, то установка на нем предохранительного клапана и манометра <b>необязательна.</b>

Сосуд, рассчитанный на давление меньше давления питающего его источника, должен иметь на подводящем трубопроводе <b>автоматическое редуцирующее устройство с манометром и предохранительным устройством,</b> установленными на стороне меньшего давления после редуцирующего устройства.

В случае установки обводной линии (байпаса) она также должна быть оснащена редуцирующим устройством.

Для группы сосудов, работающих при одном и том же давлении, допускается установка одного редуцирующего устройства с манометром и предохранительным клапаном на общем подводящем трубопроводе до первого ответвления к одному из сосудов. В этом случае установка предохранительных устройств на самих сосудах необязательна, если в них исключена возможность повышения давления.

В случае, когда автоматическое редуцирующее устройство вследствие физических свойств рабочей среды не может надежно работать, допускается <b>установка регулятора расхода.</b> При этом должна предусматриваться <b>защита от повышения давления.</b>

Количество предохранительных клапанов, их размеры и пропускная способность должны быть выбраны по расчету так, чтобы в сосуде <b>не создавалось давление, превышающее расчетное</b> более чем на 0,05 МПа (0,5 кгс/см<sup>2</sup>) для сосудов с давлением до 0,3 МПа (3 кгс/см<sup>2</sup>), на 15% - для сосудов с давлением от 0,3 до 6,0 МПа (от 3 до 60 кгс/см<sup>2</sup>) и на 10% - для сосудов с давлением свыше 6,0 МПа (60 кгс/см<sup>2</sup>).

При работающих предохранительных клапанах допускается превышение давления в сосуде <b>не более чем на 25% рабочего</b> при условии, что это превышение предусмотрено проектом и отражено в паспорте сосуда.

Предохранительное устройство изготовителем должно поставляться с паспортом и инструкцией по эксплуатации.

Предохранительные устройства должны устанавливаться на патрубках или трубопроводах, непосредственно присоединенных к сосуду.

Присоединительные трубопроводы предохранительных устройств (подводящие, отводящие и
дренажные) должны быть <b>защищены от замерзания </b>в них рабочей среды.

Отбор рабочей среды из патрубков (и на участках присоединительных трубопроводов от сосуда
до клапанов), на которых установлены предохранительные устройства, не допускается.

Предохранительные устройства должны быть размещены в местах, доступных для их обслуживания.

Установка запорной арматуры между сосудом и предохранительным устройством, а также за ним <b>не допускается.</b>

Арматура перед (за) предохранительным устройством может быть установлена при условии монтажа <b>двух предохранительных устройств и блокировки,</b> исключающей возможность одновременного их отключения.

Сбрасываемые токсичные, взрыво- и пожароопасные технологические среды должны направляться в <b>закрытые системы</b> для дальнейшей утилизации или в системы организованного сжигания.

<b>Запрещается</b> объединять сбросы, содержащие вещества, которые способны при смешивании образовывать взрывоопасные смеси или нестабильные соединения.
   </a></li>
  </ul>
</div>

<a name="events5"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
МПУ
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
    <li><a class="dropdown-item" href="#events5"  style="white-space: break-spaces;">МЕМБРАННЫЕ ПРЕДОХРАНИТЕЛЬНЫЕ УСТРОЙСТВА

Распространенным средством защиты технологического оборудования от разрушения при взрывах являются предохранительные мембраны (разрывные, ломающиеся, срезные, хлопающие, специальные) и противовзрывные мембраны.

<b>Достоинством предохранительных мембран</b> является предельная простота их конструкции, что характеризует их как самые надежные из всех существующих средств взрывозащиты. Кроме того, мембраны практически не имеют ограничений по пропускной способности.

<b>Существенным недостатком</b> предохранительных мембран является то, что после срабатывания защищаемое оборудование остается открытым, это, как правило, приводит к остановке технологического процесса и к выбросу в атмосферу всего содержимого аппарата. При разгерметизации технологического оборудования нельзя исключить возможность вторичных взрывов, которые бывают обусловлены подсосом атмосферного воздуха внутрь аппарата через открытое отверстие мембраны.

Использование на технологическом оборудовании <b>взрывных клапанов</b> дает возможность устранить эти негативные последствия, так как после срабатывания и сброса отверстие вновь закрывается и таким образом не вызывает необходимости немедленной остановки оборудования и проведения восстановительных работ. К недостаткам взрывных клапанов следует отнести их большую инерционность по сравнению с мембранами, сложность конструкции, а также недостаточную герметичность, ограничивающую область их применения (они могут использоваться для взрывозащиты оборудования, работающего при нормальном давлении).

Широко используются <b>разрывные мембраны,</b> изготовляемые из тонколистового металлического проката. Конструктивное оформление узла зажима мембраны может быть различным.

При нагружении рабочим давлением мембрана испытывает большие пластические деформации и приобретает ярко выраженный купол, по форме очень близкий к сферическому сегменту. Чаще всего куполообразную форму мембране придают заранее при изготовлении, подвергая ее нагружению давлением, составляющим около 90 % разрывного. При этом фактически исчерпывается почти весь запас пластических деформаций материала, поэтому еще больше увеличивается быстродействие мембраны.

Наиболее распространенным средством защиты технологического оборудования от взрыва являются <b>предохранительные клапаны.</b> Однако и они имеют ряд существенных недостатков, в основном определяющихся большой инерционностью подвижных деталей клапанов.

<b>Мембранные предохранительные устройства могут устанавливаться:</b>
• перед предохранительными клапанами в случаях, когда предохранительные клапаны не могут надежно работать вследствие вредного воздействия рабочей среды (коррозия, эрозия, полимеризация, кристаллизация, прикипание, примерзание) или возможных утечек через закрытый клапан взрыво- и пожароопасных, токсичных, экологически вредных веществ и т. п.;
• вместо рычажно-грузовых и пружинных предохранительных клапанов, когда эти клапаны в рабочих условиях конкретной среды не могут быть применены вследствие их инерционности или других причин;
• параллельно с предохранительными клапанами для увеличения пропускной способности систем сброса давления;
• на выходной стороне предохранительных клапанов для предотвращения вредного воздействия рабочих сред со стороны сбросной системы и для исключения влияния колебаний противодавления со стороны этой системы на точность срабатывания предохранительных клапанов.

Предохранительные мембраны должны быть <b>маркированы, </b>при этом маркировка не должна оказывать влияния на точность срабатывания мембраны.

<b>Содержание маркировки:</b>
• наименование или товарный знак изготовителя;
• номер партии мембран;
• тип мембран;
• условный диаметр;
• рабочий диаметр;
• материал;
• минимальное и максимальное давление срабатывания мембран в партии при заданной температуре и при температуре 20 °С.

<b>Порядок и сроки проверки</b> исправности действия предохранительных устройств в зависимости от условий технологического процесса должны быть указаны в инструкции по эксплуатации предохранительных устройств, утвержденных владельцем сосуда в установленном порядке.
    </a></li>
  </ul>
</div>

                        <br>

 <h3 class="post-title" >  УКАЗАТЕЛИ УРОВНЯ ЖИДКОСТИ</h3>


<p style="white-space: pre-wrap;">При необходимости контроля уровня жидкости в сосудах, имеющих границу раздела сред, должны применяться <b>указатели уровня.</b>

Кроме указателей уровня на сосудах могут устанавливаться звуковые, световые и другие сигнализаторы и блокировки по уровню. Указатели уровня жидкости должны устанавливаться в соответствии с инструкцией изготовителя, при этом должна быть обеспечена <b>хорошая видимость этого уровня.</b>

На сосудах, обогреваемых пламенем или горячими газами, у которых возможно понижение уровня жидкости ниже допустимого, должно быть установлено <b>не менее двух указателей</b> уровня прямого действия.

Конструкция, количество и места установки указателей уровня определяются разработчиком проекта сосуда. На каждом указателе уровня жидкости должны быть отмечены допустимые <b>верхний и нижний уровни.</b>

Верхний и нижний допустимые уровни жидкости в сосуде устанавливаются <b>разработчиком проекта.</b> Высота прозрачного указателя уровня жидкости должна быть <b>не менее чем на 25 мм</b> соответственно ниже нижнего и выше верхнего допустимых уровней жидкости.

При необходимости установки нескольких указателей по высоте их следует размещать так, чтобы они обеспечили непрерывность показаний уровня жидкости.

Указатели уровня должны быть снабжены <b>арматурой</b> (кранами и вентилями) для их отключения от сосуда и продувки с отводом рабочей среды в безопасное место.

При применении в указателях уровня в качестве прозрачного элемента стекла или слюды для предохранения персонала от травмирования при разрыве их должно быть предусмотрено <b>защитное устройство.</b>
</p>

                        <br>
  <div>
      <a href="{% url 'studyapp:topic_3_4' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 4. Работы, связанные с работами кранов, подъемных механизмов</a>
      <a href="{% url 'studyapp:topic_3_6' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 6. Работы по обслуживанию и ремонту тепловых энергоустановок</a>
</div>

                        <br>
      <a href="{% url 'studyapp:topics_c' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">К выбору темы</a>

                    </div>
                </div>
            </div>
        </article>
{% endblock %}