{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>Г. Средства индивидуальной защиты</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->





        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="position: fixed; left: 10px; width: 20%;">
  Вспомогательное меню по теме
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Обучение охране труда</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <b>Г. Средства индивидуальной защиты</b>
    </div>
    <div class="dropdown mt-6">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;  width: 100%;">
Выбрать тему
      </button>


              <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_1' %}" style="white-space: pre-wrap;">Тема 1. Средства индивидуальной защиты органов дыхания (СИЗОД)</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_2' %}" style="white-space: pre-wrap;">Тема 2. Средства индивидуальной защиты головы</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_3' %}" style="white-space: pre-wrap;">Тема 3. Средства индивидуальной защиты органов слуха</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_4' %}" style="white-space: pre-wrap;">Тема 4. Средства индивидуальной защиты глаз</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_5' %}" style="white-space: pre-wrap;">Тема 5. Средства индивидуальной защиты кожи</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_6' %}" style="white-space: pre-wrap;">Тема 6. Средства индивидуальной защиты рук</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_7' %}" style="white-space: pre-wrap;">Тема 7. Средства индивидуальной защиты от падения</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_8' %}" style="white-space: pre-wrap;">Тема 8. Специальная обувь</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_9' %}" style="white-space: pre-wrap;">Тема 9. Специальная одежда</a></li>
      </ul>


      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;">
        Тема 9. Специальная одежда
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#concepts1" style="white-space: pre-wrap;">1. Специальная одежда</a></li>
        <li><a class="dropdown-item" href="#concepts2" style="white-space: pre-wrap;">2. Специальные материалы и фурнитура</a></li>
        <li><a class="dropdown-item" href="#concepts3" style="white-space: pre-wrap;">3. Рекомендации по уходу</a></li>
        <li><a class="dropdown-item" href="#concepts4" style="white-space: pre-wrap;">4. Огнестойкая спецодежда</a></li>
        <li><a class="dropdown-item" href="#concepts5" style="white-space: pre-wrap;">5. Типы термостойких тканей</a></li>
        <li><a class="dropdown-item" href="#concepts6" style="white-space: pre-wrap;">6. Защитные комбинезоны</a></li>
      </ul>

    </div>
  </div>
</div>



                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <br>
                                               <h2 class="post-title"> <a name="concepts1"></a>Специальная одежда</h2>
<p style="white-space: pre-wrap;">Спецодежда является основным средством индивидуальной защиты работающих от вредных производственных факторов:
• общие производственные загрязнения;
• пониженная температура;
• контакт с нефтью, нефтепродуктами и химическими веществами;
• вредные биологические факторы, открытое пламя и высокие температуры;
• искры и брызги расплавленных металлов или сочетания этих факторов.
</p>

<a name="events1"></a>
                         <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: pre-wrap;">
Классификация специальной одежды
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#events1" style="white-space: break-spaces;">• Костюм для защиты от общих производственных загрязнений и механических воздействий;
• Костюм для защиты от общих производственных загрязнений и механических воздействий из термостойких тканей;
• Костюм ИТР для защиты от общих производственных загрязнений и механических воздействий;
• Костюм ИТР для защиты от общих производственных загрязнений и механических воздействий из термостойких тканей;
• Костюм для защиты от нефти и нефтепродуктов;
• Костюм для защиты от нефти и нефтепродуктов из термостойких тканей;
• Костюм для защиты от вредных биологических факторов;
• Комплект для защиты от искр, брызг расплавленного металла, окалины;
• Костюм для защиты от пониженных температур, общих производственных загрязнений и механических воздействий;
• Костюм для защиты от пониженных температур, общих производственных загрязнений и механических воздействий из термостойких тканей;
• Костюм ИТР для защиты от пониженных температур, общих производственных загрязнений и механических воздействий;
• Костюм ИТР для защиты от пониженных температур, общих производственных загрязнений и механических воздействий из термостойких тканей;
• Костюм для защиты от пониженных температур, нефти и нефтепродуктов;
• Костюм для защиты от пониженных температур, нефти и нефтепродуктов из термостойких тканей;
• Комплект для защиты от пониженных температур, искр, брызг расплавленного металла, окалины;
• Белье нательное утепленное;
• Футболка;
• Халат общехозяйственный;
• Халат медицинский;
• Жилет сигнальный;
• Комбинезон для защиты от токсичных и агрессивных веществ из нетканых материалов;
• Костюм для защиты от токсичных и агрессивных материалов из синтетических тканей;
• Костюм для защиты от воды и растворов нетоксичных веществ;
• Фартук из полимерных материалов.
    </a></li>
  </ul>
</div>

       <a name="events2"></a>

                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: pre-wrap;">
Основные характеристики тканей
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item" href="#events2" style="white-space: break-spaces;">• Усадка после 50-ой стирки и сушки - не более 3% для хлопкополиэфирных тканей, не более 8% для 100% хлопка;
• Истирание и разрывные нагрузки ткани – ткань остаются прочными, не способствуя затягиванию в движущиеся части и механизмы;
• Несминаемая (незаминаемая) отделка – ткани обладают свойствами, облегчающими уход за спецодеждой и улучшающими внешний вид;
• Отсутствие пиллинга и осыпания волокон (за исключение следов локального абразивного воздействия);
• Соответствие корпоративному цвету после эксплуатации. Гарантия сохранения цвета после внешних воздействий (солнечной радиации и др. излучений, стирки, чистки, носки в течении всего срок носки (службы);
• Сохранение защитных свойства тканей и материалов:
• Арамидных волокон и нитей, тканей Nomex;
• Огнезащитная отделка Proban;
• Нефти масловодоотталкивающая отделка и мембранная защита;
• Антистатические нити – Nega-stat и Resistat;
• Сохранение яркости сигнального фонового материала (желтый и оранжевые цвета);
• Наличие гигиенических заключений РФ и ЕС (Oko-Tex) гарантия безопасности и гигиены труда.
    </a></li>
  </ul>
</div>

                    <br>
                                               <h2 class="post-title"> <a name="concepts2"></a>Специальные материалы и фурнитура</h2>

<p style="white-space: pre-wrap;"><b>Краткий обязательный перечень:</b>
• Молнии YKK™;
• Износостойкие текстильные застежки (липучки), в т.ч. термостойкие;
• Прочные ситетические нити, в т.ч. огнестойкие Nomex для термостойкой одежды;
• Световозвращающие материалы Scotchlite™ , в т.ч.термостойкие шириной не менее 50 мм;
• Утеплитель Thinsulate™, в т.ч. термостойкий.
</p>

                    <br>
                                               <h2 class="post-title"> <a name="concepts3"></a>Рекомендации по уходу</h2>

<p style="white-space: pre-wrap;">• Ручная или домашняя стирка обычным порошком без добавления отбеливателей, кондиционеров, красителей и т.п. Температура до 60˚С.
• Промышленная стирка с профессиональными моющими средствами - температура до 85˚С.
• Деликатная химическая чистка перхлорэтиленом.
• Глажка не требуется, однако возможно использование пресса с температурой до 130˚С – 180˚С.
• Для восстановления свойств НМВО отделки рекомендована сушка в сушильной камере или туннельная при температуре 60˚С.
</p>

                    <br>
                                               <h2 class="post-title"> <a name="concepts4"></a>Огнестойкая спецодежда</h2>

<p style="white-space: pre-wrap;"><b>Обратите внимание на спецодежду для защиты персонала, работающего:</b>
• в пожаро-взрывоопасных условиях для защиты от скопления статического электричества;
• при наличии риска контакта с открытым пламенем и высокими температурами, в том числе и при возможности аварии;
• на спецодежду сварщиков, подверженной искрам и брызгам расплавленного металла;
• спецодежду нефтяников, имеющих контакт с нефтью, нефтепродуктами и химическими веществами.
</p>

                        <br>

<h3 class="post-title"> ОТ ЧЕГО ЗАЩИЩАЕТ ОГНЕСТОЙКАЯ ТКАНЬ</h3>

<p style="white-space: pre-wrap;">• Нормальная температура кожи t 32.5 °C;
• Начало появления ожогов t > 44 °C;
• Мгновенный ожог t 72 °C.

<b>Тяжесть ожога определяется его глубиной:</b>
Ожог 1-й степени – поверхность кожи (эпидермис): покраснение, нет вздутия;
Ожог 2-й степени – средний слой кожи (дерма): волдыри, кожа восстанавливается;
Ожог 3-й степени – полное разрушение кожи: серая, обугленная кожа, восстановление кожи невозможно.

<b>Вероятность выживания как функция возраста и площади ожогов тела</b>
<img class="logo__image"
                                                                    src="{% static 'image/live.png' %}">

<b>Выживаемость зависит от двух факторов:</b>
• % ожогов
• возраст пострадавшего
</p>

                    <br>
                                               <h2 class="post-title"> <a name="concepts5"></a>Типы термостойких тканей</h2>



       <a name="events3"></a>
                                                <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: pre-wrap;">
Термостойкая ткань с постоянными свойствами
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
    <li><a class="dropdown-item" href="#events3" style="white-space: break-spaces;">Ткань производится из волокна, имеющего постоянные огнестойкие свойства без химической обработки.

<b>Преимущества:</b>
Огнестойкость не меняется во время стирок.
Волокно имеет высокую стойкость к истиранию.
    </a></li>
  </ul>
</div>

       <a name="events4"></a>
                                                <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: pre-wrap;">
Ткани с огнестойкими пропитками/отделками
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
    <li><a class="dropdown-item" href="#events4" style="white-space: break-spaces;">Химические вещества внедряются в хлопковое волокно или наносятся в качестве отделки для снижения горючести.

Огнестойкие пропитки «активируются» повышением температуры и выделяют <b>вещества,</b> в том числе газы, <b>замедляющие горение.</b>
</a></li>
  </ul>
</div>

                        <br>

<h3 class="post-title"> ЗАЩИТА ОТ СКОПЛЕНИЯ СТАТИЧЕСКОГО ЭЛЕКТРИЧЕСТВА</h3>

<p style="white-space: pre-wrap;">· Скопления статического электричества на одежде работающего в пожаро-взрывоопасной среде опасно тем, что искра даже самой низкой энергии способна привести к <b>возгоранию</b> или даже <b>взрыву.</b> Антистатические свойства одежды достигаются путем использования тканей с антистатическими свойствами.

· Специалисты рекомендуют использовать ткани, имеющие в своей структуре антистатические нити встроенные как по основе, так и по утку. Таким образом, образуется <b>замкнутый контур – «клетка».</b> Антистатические ткани со встроенной антистатической нитью имеют постоянные антистатические свойства, устойчивые к стиркам и химчисткам.

· Использование <b>антистатических пропиток</b> имеет одноразовый характер и требует постоянной обработки при каждой стирке. Данный способ требует постоянных затрат и не гарантирует сохранение антистатических свойств при длительной эксплуатации между стирками.
</p>


       <a name="events5"></a>
                                                <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: pre-wrap;">
Распределение заряда с места скопления по площади всего костюма
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
    <li><a class="dropdown-item" href="#events5" style="white-space: break-spaces;">СНЯТИЕ СТАТИЧЕСКОГО ЭЛЕКТРИЧЕСТВА СО СПЕЦОДЕЖДЫ ПУТЕМ РАСПРЕДЕЛЕНИЯ ЗАРЯДА С МЕСТА СКОПЛЕНИЯ ПО ПЛОЩАДИ ВСЕГО КОСТЮМА
При данном способе в структуру ткани встраивают карбоновые (углеродные) или металлизированные нити.
• Для стекания заряда с костюма необходимо обеспечить заземление в иных случаях заряд будет стекать только благодаря влажности воздуха.
• Чем больше влажность воздуха, чем больше площадь костюма, по которой будет распределено статическое напряжение, чем более замкнутых контуров (клеток) будет образовывать антистатическая нить, тем быстрее будет стекать излишек заряда.
• Согласно ГОСТ 12.4.124-83 «Средства защиты от статического электричества. Общие технические требования» для изготовления антиэлектростатической специальной одежды должны применяться материалы с удельным поверхностным электрическим сопротивлением не более 107 Ом.
• Метод определения удельного поверхностного электрического сопротивления поГОСТ 19616-74.
• Стоит отметить различия в требованиях российского и европейского стандарта. Согласно европейского стандарта EN 1149 часть 1, удельное поверхностное электрическое сопротивление ткани не должно превышать 109 Ом.

<b>Снятие статического электричества путем распределения заряда с места скопления по площади всего костюма благодаря антистатическим карбоновым нитям Resistat®.</b>

В отличие от используемых российскими производителями карбоновых нитей, нить Resistat®:
• устойчива к механическим, химическим и тепловым воздействиям благодаря специальной технологии химического насыщения волокна нейлона электропроводимыми углеродными частицами;
• Углерод становится частью структуры нейлонового волокна, сохраняя силу и гибкость нити и обеспечивая превосходную проводимость;
• Resistat® проводит низкие потоки напряжения, не позволяя скапливаться на поверхности ткани.
    </a></li>
  </ul>
</div>



       <a name="events6"></a>
                                                <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton6" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: pre-wrap;">
Нейтрализация статического заряда
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
    <li><a class="dropdown-item" href="#events6" style="white-space: break-spaces;">СНЯТИЕ СТАТИЧЕСКОГО ЭЛЕКТРИЧЕСТВА СО СПЕЦОДЕЖДЫ ПУТЕМ НЕЙТРАЛИЗАЦИИ СТАТИЧЕСКОГО ЗАРЯДА
• Когда нить не распределяет заряд, т.е. не несет функцию «проводника», а сама нейтрализует заряд подобно действию индукционной катушки.
• Очень важно для эксплуатации спецодежды в районах с низкой влажностью воздуха, т.к. обеспечить заземление должным образом чаще всего не удается, а при низкой влажности стекание заряда проходит достаточно медленно.
• При данном методе определяется скорость стекания заряда за единицу времени. Согласно требований европейского стандарта EN 1149 часть 3 скорость стекания заряда не должна превышать 0,04с.

В России методы оценки антистатических свойств по данному способу отсутствуют.

Второй способ снятия статического заряда обеспечивают например ткани с антистатической нитью <b>Negastat®.</b>
Negastat® - полностью герметичная токопроводящая нить с трехлопастным углеродным ядром, эффективно нейтрализует любой поверхностный заряд на ткани <b>путём индукции заряда и воздушной ионизации.</b>

Токопроводящая углеродная часть нити Negastat® находится в ядре, и надежно защищена от абразивного воздействия воды и высоких температур. Одежда из антистатичных тканей с нитью Negastat® не нуждается в обязательном заземлении и используется для широкого спектра специальностей, где полное заземление невозможно, или его неудобно использовать.
    </a></li>
  </ul>
</div>

                        <br>

<h3 class="post-title"> ЗАЩИТА ОТ ИСКР И БРЫЗГ РАСПЛАВЛЕННОГО МЕТАЛЛА</h3>

<p style="white-space: pre-wrap;"><b>Почему заменяют костюм сварщика из брезента?</b>
• Во-первых, брезентовый костюм устарел морально. Эта одежда была создана в XIX веке и на сегодняшний день ее архаичный вид никак не вписывается в современные реалии.
• Во-вторых, брезентовый костюм очень жесткий и неудобный в работе. Он сильно сковывает движения работающего, бывает, что до крови натирает кожу.
• В-третьих, огнеупорная пропитка на брезенте не выдерживает стирок, да и стирать такой костюм крайне сложно. Костюм с накладками из спилка стирать вообще нельзя. Не подлежат эти костюмы и химчистке. Костюмы, имеющие сильные масляные загрязнения и не подлежащие стирке, обеспечивают дополнительную угрозу воспламенения и прожигания костюма из брезента.
• Вы получаете современный сварочный костюм в вашем корпоративном цвете.
• Сварочный костюм из огнестойкой хлопковой ткани мягкий, удобный, комфортный - не сильно сковывающий движение, с хорошим паро-воздушным обменом.
• Чистый сварочный костюм. Костюм из огнестойкой хлопковой ткани легко стирается и подвергается химчистке.
• Чистый костюм обеспечивает не просто гигиеничность, но и повышает защитные свойства костюма, исключая возможность воспламенения и прожигания загрязненных маслом костюма сварщика.
• Надежный сварочный костюм. В случае проведения одновременно таких работ как: резка металла, шлифовка швов и при сварке более 4-х часов в день, требуется использование усиленных костюмов сварщика
</p>

                        <br>

<h3 class="post-title"> ЗАЩИТА ОТ СЫРОЙ НЕФТИ И НЕФТЕПРОДУКТОВ</h3>

<p style="white-space: pre-wrap;">• Высокотехнологичные курточные ткани с PU-мембранами являются <b>непроницаемыми</b> для нефтепродуктов различных фракций и воды.
• Также ткани с PU-мембранами являются <b>ветронепроницаемыми и морозостойкими</b> (до минус 60°С), что очень важно для зимней одежды, для работы на улице в суровых погодных условиях (дождь, снег, мороз).
• За одеждой из тканей с PU-мембраной <b>легко ухаживать.</b> В отличие от мембран типа Gortex, ткани с PU-мембраной не требуют особых моющих средств, их можно стирать обычными порошками.
• Для нефтегазовой отрасли используются ткани с PU-мембранами, включающими огнезащитные свойства, что очень важно для огнестойкого костюма нефтяника.
• Ткани с PU-мембраной с огнестойкими свойствами не поддерживают горение и не имеют остаточного тления, но могут образовывать при контакте с пламенем отверстия. Поэтому данные ткани используются только в комплекте с огнестойкими хлопковыми тканями.

Для эффективной эксплуатации спецодежды и обеспечения высокого уровня защиты следует обеспечить <b>регулярный уход</b> за спецодеждой, строго следуя <b>рекомендациям производителя.</b>
</p>


                    <br>
                                               <h2 class="post-title"> <a name="concepts6"></a>Защитные комбинезоны</h2>

<p style="white-space: pre-wrap;"><img class="logo__image" src="{% static 'image/k1.png' %}">
<b>Назначение:</b> защита от физического проникновения опасных твердых частиц, дисперсионной тонкой опасной пыли и порошков, концентрированных неорганических кислот, щелочей и солевых растворов, стойкость к выплескам жидкостей под давлением до 2 атм.
<img class="logo__image" src="{% static 'image/k1i.png' %}" style="width:100%;">

<img class="logo__image" src="{% static 'image/k2.png' %}">
<b>Назначение:</b> защита от физического проникновения опасных твердых частиц, дисперсионной тонкой опасной пыли и порошков, концентрированных неорганических кислот, щелочей и солевых растворов, стойкость к выплескам жидкостей под давлением до 2 атм.
<img class="logo__image" src="{% static 'image/k2i.png' %}" style="width:100%;">

<img class="logo__image" src="{% static 'image/k3.png' %}">
<b>Назначение:</b> защита от физического проникновения опасных твердых частиц, дисперсионной тонкой опасной пыли и порошков, концентрированных неорганических кислот, щелочей и солевых растворов, органических химических веществ, стойкость к выплескам жидкостей под давлением до 5 атм.
<img class="logo__image" src="{% static 'image/k3i.png' %}" style="width:100%;">
</p>

                        <br>
<div>
              <a href="{% url 'studyapp:topic_4_8' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 8. Специальная обувь</a>
    <a href="{% url 'tests:test_a' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Пройти тест: Средства индивидуальной защиты</a>
</div>

                        <br>
                         <a href="{% url 'studyapp:topics_d' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">К выбору темы</a>

                    </div>
                </div>
            </div>
        </article>
{% endblock %}