{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>А. Обучение по общим вопросам охраны труда и функционирования системы управления охраной труда</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->


        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="position: fixed; left: 10px; width: 20%;">
  Вспомогательное меню по теме
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Обучение охране труда</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <b>А. Обучение по общим вопросам охраны труда и функционирования системы управления охраной труда</b>
    </div>

    <div class="dropdown mt-6">

                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;  width: 100%;">
Выбрать тему
      </button>

              <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_1_1' %}" style="white-space: pre-wrap;">Тема 1. Основы охраны труда в Российской Федерации</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_1_2' %}" style="white-space: pre-wrap;">Тема 2. Система управления охраной труда в организации</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_1_3' %}" style="white-space: pre-wrap;">Тема 3. Стратегия безопасности труда и охраны здоровья</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_1_4' %}" style="white-space: pre-wrap;">Тема 4. Расследование и предупреждение несчастных случаев и профессиональных заболеваний</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_1_5' %}" style="white-space: pre-wrap;">Тема 5. Организация оказания первой помощи</a></li>
      </ul>

      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;">
        Тема 5. Организация оказания первой помощи
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#concepts" style="white-space: pre-wrap;">1. Первая помощь</a></li>
        <li><a class="dropdown-item" href="#concepts1" style="white-space: pre-wrap;">2. Юридическая сторона оказания первой помощи</a></li>
        <li><a class="dropdown-item" href="#concepts2" style="white-space: pre-wrap;">3. Оказание первой помощи пострадавшим</a></li>
        <li><a class="dropdown-item" href="#concepts3" style="white-space: pre-wrap;">4. Универсальный алгоритм оказания первой помощи</a></li>
        <li><a class="dropdown-item" href="#concepts4" style="white-space: pre-wrap;">5. Безопасность на месте происшествия</a></li>
        <li><a class="dropdown-item" href="#concepts5" style="white-space: pre-wrap;">6. Ошибки при оказании первой доврачебной помощи</a></li>
        <li><a class="dropdown-item" href="#concepts6" style="white-space: pre-wrap;">7. Аптечка</a></li>
      </ul>

                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap; width: 100%;">
        Полезные документы
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% static 'documents/O_normativnykh_aktakh.docx' %}" download="newname.docx">О нормативных актах</a></li>
        <li><a class="dropdown-item" href="{% static 'documents/Nakazaniya_za_narusheniya_v_oblasti_OT.docx' %}" download="newname.docx">О наказаниях за нарушения</a></li>
        <li><a class="dropdown-item" href="{% static 'documents/Pravovye_Istochniki.docx' %}" download="newname.docx">Правовые источники</a></li>
        <li><a class="dropdown-item" href="{% static 'documents/Osnovnyye_polozheniya_trudovogo_prava.pdf' %}" download="newname.docx">Основные положения трудового права</a></li>
        <li><a class="dropdown-item" href="{% static 'documents/Pravo_rabotnikov_na_okhranu_truda.docx' %}" download="newname.docx" style="white-space: pre-wrap;">Права и гарантии прав работников на охрану труда</a></li>
        <li><a class="dropdown-item" href="{% static 'documents/Funktsii_i_polnomochiya_organov_vlasti_v_oblasti_OT.docx' %}" download="newname.docx" style="white-space: pre-wrap;">Функции и полномочия органов власти в области ОТ</a></li>
        <li><a class="dropdown-item" href="{% static 'documents/Socialnoe_partnerstvo_rabotodatelya_i_rabotnikov.docx' %}" download="newname.docx" style="white-space: pre-wrap;">Социальное партнерство работодателя и работников</a></li>
        <li><a class="dropdown-item" href="{% static 'documents/Organizaciya_sistemy_upravleniya_OT.docx' %}" download="newname.docx" style="white-space: pre-wrap;">Организация системы управления ОТ</a></li>
        <li><a class="dropdown-item" href="{% static 'documents/Specialnaya_ocenka_uslovij_truda.docx' %}" download="newname.docx" style="white-space: pre-wrap;">Специальная оценка условий труда</a></li>
        <li><a class="dropdown-item" href="{% static 'documents/Predostavlenie_kompensacij_za_usloviya_truda.docx' %}" download="newname.docx" style="white-space: pre-wrap;">Предоставление компенсаций за условия труда, обеспечение работников средствами индивидуальной защиты</a></li>
        <li><a class="dropdown-item" href="{% static 'documents/Osnovy_preduprezhdeniya_prof_zabolevaemosti.docx' %}" download="newname.docx" style="white-space: pre-wrap;">Основы предупреждения профессиональной заболеваемости</a></li>
        <li><a class="dropdown-item" href="{% static 'documents/Organizaciya_Dnya_ohrany_truda.docx' %}" download="newname.docx" style="white-space: pre-wrap;">Организация дня охраны труда на производстве</a></li>
        <li><a class="dropdown-item" href="{% static 'documents/Znaki_bezopasnosti_po_GOST_12.4.026-2015.docx' %}" download="newname.docx" style="white-space: pre-wrap;">Знаки безопасности</a></li>
      </ul>
    </div>
  </div>
</div>



                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <br>
                                               <h1 class="post-title"> Организация оказания первой помощи</h1>
                        <br>
                                               <h2 class="post-title"> <a name="concepts"></a>Первая помощь</h2>
                        <br>

<p style="white-space: pre-wrap;">Первая помощь — это комплекс срочных мер, направленных на спасение жизни человека. Несчастный случай, резкий приступ заболевания, отравление – в этих и других чрезвычайных ситуациях необходима грамотная первая помощь.

Первая помощь должна оказываться сразу же на месте происшествия, быстро и умело, еще до прихода врача или до транспортировки пострадавшего в больницу.

Сущность первой помощи заключается в прекращении дальнейшего воздействия травмирующих факторов, проведении простейших мероприятий и в обеспечении скорейшей транспортировки пострадавшего в лечебное учреждение.

Жизнь и здоровье пострадавшего человека обычно зависят от оказания первой помощи лицами без специального медицинского образования. В связи с этим необходимо, чтобы каждому были известны сущность, принципы, правила и последовательность оказания первой помощи. Это необходимо еще и потому, что бывают случаи, когда пострадавшему приходится оказывать первую помощь самому себе, это так называемая самопомощь.

Первая помощь направлена на первичные действия с различными состояниями и повреждениями, так как она предупреждает такие осложнения, как шок, кровотечение, развитие инфекции, дополнительные смещения отломков костей и травмирование крупных нервных стволов и кровеносных сосудов.

При оказании первой помощи важно соблюдать два принципа:
1. Не навреди.
2. Обеспечить личную безопасность. Если оказание первой помощи является опасным для вашей жизни и здоровья, помощь лучше не оказывать. Достаточно позвонить в службу спасения 112.
</p>
                        <br>
                                               <h2 class="post-title"> <a name="concepts1"></a>ЮРИДИЧЕСКАЯ СТОРОНА ОКАЗАНИЯ ПЕРВОЙ ПОМОЩИ</h2>
                        <br>

<p style="white-space: pre-wrap;">Статья 29 Федерального закона «Об основах охраны здоровья граждан в Российской Федерации» от 21.11.2011 N 323-ФЗ (ред. от 02.07.2021) устанавливает, что организация охраны здоровья граждан осуществляется в том числе путем организации оказания первой помощи, всех видов медицинской помощи.

При несчастных случаях работодатель обязан немедленно организовать первую помощь пострадавшим (ст. 228 ТК РФ).
</p>

                        <a name="events1"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: break-spaces;">
Трудовой кодекс РФ о первой помощи
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#events1"  style="white-space: break-spaces;">Работодатель обязан обеспечить:
• обучение по охране труда, в том числе обучение безопасным методам и приемам выполнения работ, обучение по оказанию первой помощи пострадавшим на производстве, обучение по использованию (применению) средств индивидуальной защиты, инструктаж по охране труда, стажировку на рабочем месте (для определенных категорий работников) и проверку знания требований охраны труда (ст. 214 ТК РФ);
• принятие мер по предотвращению аварийных ситуаций, сохранению жизни и здоровья работников при возникновении таких ситуаций, в том числе по оказанию пострадавшим первой помощи...

Санитарно-бытовое обслуживание работников в соответствии с требованиями охраны труда возлагается на работодателя. В этих целях работодателем по установленным нормам оборудуются санитарно-бытовые помещения, помещения для приема пищи, комнаты для отдыха в рабочее время и психологической разгрузки, организуются посты для оказания первой помощи, укомплектованные аптечками для оказания первой помощи, устанавливаются аппараты (устройства) для обеспечения работников горячих цехов и участков газированной соленой водой и другое (ст 216.3 ТК РФ)

Ст. 228 ТК РФ: При несчастных случаях, указанных в статье 227 настоящего Кодекса, работодатель (его представитель) обязан немедленно организовать первую помощь пострадавшему и при необходимости доставку его в медицинскую организацию.

Работник обязан:
• ...проходить обучение безопасным методам и приемам выполнения работ и оказания первой помощи пострадавшим на производстве...

Для всех поступающих на работу лиц работодатель обязан организовать обучение безопасным методам и приемам выполнения работ и оказания первой помощи пострадавшим (ст. 212, 214, 225 ТК РФ).

Обучение по охране труда предусматривает получение знаний, умений и навыков в ходе проведения:
• …обучения по оказанию первой помощи пострадавшим (ст. 219 ТК РФ)
    </a></li>
  </ul>
</div>

<a name="events2"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: break-spaces;">
Первая помощь должна быть оказана правильно
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item" href="#events2"  style="white-space: break-spaces;">Это не врожденный навык, этому необходимо учиться. Для этого нужно тренировать практические навыки. Именно поэтому в любом курсе первой помощи должны быть три взаимосвязанных блока:
• общий алгоритм действий
• приемы и навыки первой помощи в различных случаях
• тренировка практических навыков

Объем оказания первой помощи определен на законодательном уровне (приказ Минздравсоцразвития России от 04.05.2012 № 477н (ред. от 07.11.2012) «Об утверждении перечня состояний, при которых оказывается первая помощь, и перечня мероприятий по оказанию первой помощи).

Существует всего 8 неотложных состояний и 11 мероприятий по спасению жизни.

Первую помощь оказывают только при состояниях, в которых есть непосредственная угроза жизни и здоровью.

Случаи оказания первой помощи:
1. Отсутствие сознания.
2. Остановка дыхания и кровообращения.
3. Наружные кровотечения.
4. Инородные тела верхних дыхательных путей.
5. Травмы различных областей тела.
6. Ожоги.
7. Отморожения.
8. Отравления.
    </a></li>
  </ul>
</div>


<a name="events3"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: break-spaces;">
Мероприятия первой помощи
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
    <li><a class="dropdown-item" href="#events3"  style="white-space: break-spaces;">При восьми неотложных состояниях предусмотрены следующие мероприятия первой помощи:
1. Оценить обстановку и создать безопасные условия для оказания первой помощи.
2. Вызвать скорую медицинскую помощь.
3. Определить сознание.
4. Восстановить и поддерживать проходимость дыхательных путей.
5. Определить признаки жизни у пострадавшего.
6. Провести сердечно-легочную реанимацию.
7. Остановить наружное кровотечение.
8. Выявить признаки травм, отравлений и других состояний, угрожающих жизни и здоровью.
9. Придать оптимальное положение тела пострадавшему.
10.Контролировать состояние пострадавшего и оказывать ему психологическую поддержку.
11.Передать пострадавшего бригаде скорой медицинской помощи.

Первую помощь согласно данному перечню необходимо оказывать в определенной последовательности и варьировать в зависимости от состояния пострадавшего. Алгоритмы действий с учетом этой последовательности представлены далее в курсе.
    </a></li>
  </ul>
</div>

  <br>
                                               <h2 class="post-title"> <a name="concepts2"></a>ОКАЗАНИЕ ПЕРВОЙ ПОМОЩИ — ЭТО ПРАВО, А НЕ ОБЯЗАННОСТЬ</h2>
                        <br>

<p style="white-space: pre-wrap;">Работодатель обязан организовать оказание первой помощи пострадавшему сотруднику (абз. 2 ст. 228 ТК РФ). Именно организовать, а не оказывать. Дело в том, что оказание первой помощи – не обязанность, а право работодателя и его представителей (работников). Главное – незамедлительно вызвать врача, скорую медицинскую помощь.

Работники организации, которые прошли обучение способам оказания первой помощи пострадавшим на производстве, имеют право оказывать такую помощь. Однако они не обязаны совершать каких-либо медицинских манипуляций с пострадавшим. Более того, работника могут привлечь к ответственности, если своими действиями он причинит пострадавшему вред.
</p>
  <br>
                                               <h2 class="post-title"> <a name="concepts3"></a>УНИВЕРСАЛЬНЫЙ АЛГОРИТМ ОКАЗАНИЯ ПЕРВОЙ ПОМОЩИ</h2>
                        <br>

<p style="white-space: pre-wrap;">Алгоритм действий в чрезвычайной ситуации является фундаментом всего остального, он дает понятие, что делать шаг за шагом. Перед вами универсальный алгоритм — одинаковый для любой чрезвычайной ситуации.

Шаг 1. Оцените обстановку и создайте безопасные условия для оказания первой помощи: устраните угрожающие и травмирующие факторы. Не паникуйте. Прежде чем оказывать помощь, убедитесь в собственной безопасности (вам ничего не должно угрожать).

Шаг 2. Проверьте сознание у пострадавшего. Если человек без сознания, спросите у окружающих что случилось, или спросите у самого пострадавшего (если он в сознании). Если пострадавший в сознании, переходите к шагу 4, а затем к шагу 7.Работники организации, которые прошли обучение способам оказания первой помощи пострадавшим на производстве, имеют право оказывать такую помощь. Однако они не обязаны совершать каких-либо медицинских манипуляций с пострадавшим. Более того, работника могут привлечь к ответственности, если своими действиями он причинит пострадавшему вред.

Шаг 3. Очистите дыхательные пути. Проверьте дыхание, пульс, реакцию зрачков. Если пострадавший дышит, после шага 4 переходите к шагу 6.

Шаг 4. Вызовите скорую помощь и другие специальные службы по номеру: 112 или 103. Сообщите оператору о состоянии пострадавшего – в сознании или без, дышит или нет - это определит какого рода помощь к вам направлять экстренную или обычную.

Шаг 5. Проведите сердечно-легочную реанимацию: чередуйте давление руками на грудину пострадавшего и искусственное дыхание «рот ко рту», «рот к носу», используйте устройство для искусственного дыхания. При появлении признаков жизни переходите к шагу 6.

Шаг 6. Положите пострадавшего на бок. Придайте устойчивое положение: для опоры согните одну руку и ногу пострадавшего. Положение поможет поддерживать проходимость дыхательных путей.

Если человек находится без сознания и дышит – обязательно переверните его на бок – это поможет обеспечить ему беспрепятственное дыхание.

Если человек находится без сознания и не дышит, необходимо незамедлительно приступить к сердечно-легочной реанимации до приезда скорой помощи.

Шаг 7. Осмотрите пострадавшего. Проведите визуальный осмотр на наличие травм – начиная с головы, заканчивая ногами. Осмотр проводится путем аккуратного прощупывания всего тела пострадавшего с головы до пят в поисках любых повреждений и травм. При нахождении повреждений (раны, кровотечения, переломы) проводится их устранение. Так, если обнаружили кровотечение – остановите одним из трех способов:
· наложите давящую повязку на рану
· прижмите пальцем артерию и наложите кровоостанавливающий жгут
· максимально согните конечность в суставе и зафиксируйте повязкой

Шаг 8. Придайте пострадавшему оптимальное положение тела в зависимости от характера повреждений. Положение должно быть комфортным, по возможности облегчать боль.

Шаг 9. Постоянно контролируйте состояние пострадавшего: наличие сознания, дыхания и кровообращения. Оказывайте психологическую поддержку.

Шаг 10. Передайте пострадавшего бригаде скорой медицинской помощи.
</p>
  <br>
                                               <h2 class="post-title"> <a name="concepts4"></a>БЕЗОПАСНОСТЬ НА МЕСТЕ ПРОИСШЕСТВИЯ</h2>
                        <br>

<p style="white-space: pre-wrap;">Безопасность на месте происшествия начинается с оценки места происшествия и окружающих территорий. Всегда думайте… Безопасно ли подходить к пострадавшему? Место, где произошло происшествие, может быть опасным из–за возможного нападения. Если место происшествие не безопасно, нужно его обезопасить.

Если невозможно, не идите туда!
Первая помощь несет определенные риски для спасателя. Приоритетом для спасателя остается его здоровье и безопасность.

Контакт с биологическими жидкостями человека, частицами, находящимися в воздухе, и опасными материалами на месте происшествия можно в значительной мере снизить, соблюдая меры предосторожности – защиты глаз, перчатки, маски; при проведении искусственного дыхания – лицевые пленки, лицевые маски.

Помните о возможности заражения вирусами гепатита В, С, вирусом ВИЧ, если кровь и биологические жидкости больного попали на вашу поврежденную кожу, слизистой носовой и ротовой полости и в глаза.

Особые ситуации включают в себя: контакт с токсическими веществами (пламя, дым), крушения или спасательные работы, предлагающие использование неустойчивой или тяжелой техники, или оборудования, и не устойчивые поверхности (неровности, лед, грязь, вода).

Помните! Для тех, кто не является спасателем, пожарным или полицейским, причастным к ДТП водителем, первая помощь — это право, а не обязанность (ч. 4 ст. 31 Федерального закона от 21.11.2011 № 323-ФЗ).

<b>Допустимо:</b>
• использовать пластиковые пакеты и клеенки для участков тела пациента, представляющих инфекционную угрозу
• закрыть открытые раны пострадавшего повязкой или водонепроницаемыми материалами
• для искусственного дыхания использовать защитные устройства

После завершения реанимации обязательно вымойте руки и если на вас попала кровь или вы поранились, сообщите об этом сотруднику скорой помощи или обратитесь за медицинской помощью.
</p>

  <br>
                                               <h2 class="post-title"> <a name="concepts5"></a>ОШИБКИ ПРИ ОКАЗАНИИ ПЕРВОЙ ДОВРАЧЕБНОЙ ПОМОЩИ</h2>
                        <br>

<p style="white-space: pre-wrap;">Важно знать не только алгоритмы правильных действий, а также то, что нельзя делать при наступлении различных случаев, чтобы не навредить пострадавшему до оказания ему медицинской помощи.

Ведь можно нанести человеку еще больший вред или даже убить его, если при обмороке использовать нашатырный спирт; ожог мазать кремом, маслом, белком или мочой; запрокидывать голову при кровотечении и т. п.

Главное правило спасателя – не навредить своими действиями пострадавшему. Изучите ошибки, чтобы их не допускать.
</p>

<a name="events5"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
Этого делать нельзя
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
    <li><a class="dropdown-item" href="#events5"  style="white-space: break-spaces;">• Если кто-то подавился — нельзя стучать его по спине
• Нож или любой другой объект в ране — нельзя вынимать
• При ожоге - нельзя наносить масло, крем, мазь. Мочиться на ожог
• Если человек замерз — нельзя давать водку или спирт и т.п
• Обморожение — нельзя растирать, нельзя отогревать до приезда врачей
• Вывихнутую руку — нельзя самим вправлять
• Сломанные кости — нельзя самим совмещать, накладывать шину
• При укусах змеи — нельзя делать надрез на месте укуса, высасывать яд, перетягивать укушенную конечность жгутом
• Обморок — не надо хлопать по щекам, подносить к носу нашатырный спирт и плескать в лицо холодную воду
• Кровотечение из носа — не советуйте пострадавшему откинуть голову назад или лечь, не затыкайте его нос ватой
• При сердечном приступе — нельзя давать валидол
</a></li>
  </ul>
</div>

  <br>
                                               <h2 class="post-title"> <a name="concepts6"></a>АПТЕЧКА ДЛЯ ОКАЗАНИЯ ПЕРВОЙ ПОМОЩИ ПРИ НЕСЧАСТНЫХ СЛУЧАЯХ</h2>
                        <br>

<p style="white-space: pre-wrap;">В соответствии со статьей 223 Трудового кодекса РФ работодателем организуются посты для оказания первой помощи, укомплектованные аптечками для оказания первой помощи.

Состав аптечек для оказания первой помощи работникам установлен приказом Минздрава от 15.12.2020 № 1331н. Рекомендации, как использовать содержимое аптечки, разработан на основании инструкции Минздрава от 24.08.2021.

ЧТО ВХОДИТ В АПТЕЧКУ:
• маска медицинская нестерильная одноразовая — 10 шт. Как использовать: для защиты от инфекций, которые передаются воздушно-капельным путем

• перчатки медицинские нестерильные, размером не менее М — 2 пары. Как использовать: надевайте перед началом оказания первой помощи. Поменяйте, если порвались

• устройство для проведения искусственного дыхания "Рот-Устройство-Рот" — 1 шт.
Как использовать: для искусственного дыхания при проведении сердечно- легочной реанимации

• жгут кровоостанавливающий для остановки артериального кровотечения — 1 шт.
Как использовать: накладывайте на плечо или бедро при сильном артериальном кровотечении выше раны максимально близко к ней, поверх одежды или тканевой подкладки

• бинты марлевые медицинские размером не менее 5 м х 10 см — 4 шт.; размером не менее 7 м х 14 см — 4 шт.
Как использовать: для наложения повязок на разные части тела для фиксации травмированных конечностей

• салфетки марлевые медицинские стерильные размером не менее 16 х 14 см № 10 — 2 уп.
Как использовать: применяйте, чтобы закрыть раны и ожоговые поверхности

• лейкопластырь фиксирующий рулонный размером не менее 2 х 500 см — 1 шт.
Как использовать: закрыть ссадины, потертости. Для фиксации стерильных салфеток на ране, наложения окклюзионной повязки при ранении груди

• лейкопластырь бактерицидный размером не менее 1,9 х 7,2 см – 10 шт.
Как использовать: закрывайте подушечкой пластыря мелкие ссадины и потертости

• лейкопластырь бактерицидный размером не менее 4 х 10 см — 2 шт.
Как использовать: отрезайте ножницами кусок пластыря нужного размера и закрывайте подушечкой пластыря мелкие ссадины и потертости

• покрывало спасательное изотермическое размером не менее 160 х 210 см — 2 шт.
Как использовать: закутывайте пострадавшего серебристой стороной к телу, оставляя открытым его лицо

• ножницы для разрезания повязок — 1 шт.
Как использовать: применяйте, чтобы разрезать одежду для доступа к ранению; чтобы отрезать бинт и лейкопластырь нужной длины, а также для вскрытия упаковок

Дополнительно в состав аптечки включают:
• инструкцию по оказанию первой помощи с применением аптечки для оказания первой помощи работникам
•футляр или сумку

Количество аптечек определяет работодатель самостоятельно и прописывает в локальном акте. Но минимум одна аптечка должна быть в организации.

В некоторых отраслях действуют правила по количеству аптечек, поэтому стоит изучить требования соответствующих отраслевых нормативных актов.

Аптечки размещают на специальных санитарных постах для оказания первой помощи. Места их расположения отмечают белым крестом на зеленом фоне.

Аптечки следует располагать на видном месте в пределах досягаемости для персонала, на каждом этаже.

Работники должны быть в курсе, где расположены аптечки первой помощи и как использовать их содержимое. Об этом им необходимо рассказывать во время инструктажей по охране труда.

За отсутствие аптечек первой помощи ГИТ или Роспотребнадзор при проверке могут оштрафовать компанию на сумму от 20 000 до 50 000 рублей. Роспотребнадзор через суд вправе приостановить деятельность организации на период до 90 суток (ст. 6.3 КоАП РФ).

Важно! Лекарственные средства в состав аптечек для оказания первой помощи работникам не входят.
</p>



                        <br>
  <div>                       <a href="{% url 'studyapp:topic_1_4' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 4. Расследование и предупреждение несчастных случаев и профессиональных заболеваний</a>
                         <a href="{% url 'tests:test_a' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Пройти тест: Обучение по общим вопросам охраны труда и функционирования системы управления охраной труда</a>
</div>

                        <br>
                        <a href="{% url 'studyapp:study_start' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">К выбору темы</a>











                    </div>
                </div>
            </div>
        </article>
{% endblock %}