{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>В. Безопасные методы и приемы выполнения работ повышенной опасности</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->



        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="position: fixed; left: 10px; width: 20%;">
  Вспомогательное меню по теме
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Обучение охране труда</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <b>В. Безопасные методы и приемы выполнения работ повышенной опасности</b>
    </div>
    <div class="dropdown mt-6">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;  width: 100%;">
Выбрать тему
      </button>


              <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_1' %}" style="white-space: pre-wrap;">Тема 1. Основы охраны труда в Российской Федерации</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_2' %}" style="white-space: pre-wrap;">Тема 2. Безопасные методы и приемы выполнения работ повышенной опасности</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_3' %}" style="white-space: pre-wrap;">Тема 3. Работы на высоте</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_4' %}" style="white-space: pre-wrap;">Тема 4. Работы, связанные с работами кранов, подъемных механизмов</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_5' %}" style="white-space: pre-wrap;">Тема 5. Работы, связанные с эксплуатацией сосудов (баллонов) под давлением</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_6' %}" style="white-space: pre-wrap;">Тема 6. Работы по обслуживанию и ремонту тепловых энергоустановок</a></li>
      </ul>



      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;">
        Тема 6. Работы по обслуживанию и ремонту тепловых энергоустановок
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#concepts1" style="white-space: pre-wrap;">1. Общие положения</a></li>
        <li><a class="dropdown-item" href="#concepts2" style="white-space: pre-wrap;">2. Персональная ответственность</a></li>
        <li><a class="dropdown-item" href="#concepts3" style="white-space: pre-wrap;">3. Организационные мероприятия</a></li>
        <li><a class="dropdown-item" href="#concepts4" style="white-space: pre-wrap;">4. Проверка соблюдения правил безопасности</a></li>
        <li><a class="dropdown-item" href="#concepts5" style="white-space: pre-wrap;">5. Комплексное опробование</a></li>
        <li><a class="dropdown-item" href="#concepts6" style="white-space: pre-wrap;">6. Планирование режимов работы</a></li>
        <li><a class="dropdown-item" href="#concepts7" style="white-space: pre-wrap;">7. Режимно-наладочные испытания и работы</a></li>
      </ul>

    </div>
  </div>
</div>



                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <br>
                                               <h2 class="post-title"> <a name="concepts1"></a>Общие положения</h2>

<p style="white-space: pre-wrap;">Эксплуатация тепловых энергоустановок организации осуществляется <b>подготовленным теплоэнергетическим персоналом.</b>

В зависимости от объема и сложности работ по эксплуатации тепловых энергоустановок в организации создается <b>энергослужба,</b> укомплектованная соответствующим по квалификации теплоэнергетическим персоналом. Допускается проводить эксплуатацию тепловых энергоустановок специализированной организацией.

Ответственный за исправное состояние и безопасную эксплуатацию тепловых энергоустановок и его заместитель назначаются <b>распорядительным документом</b> руководителя организации из числа управленческого персонала и специалистов организации.

Распорядительным документом руководителя организации устанавливаются <b>границы ответственности</b> производственных подразделений за эксплуатацию тепловых энергоустановок.

Руководитель определяет <b>ответственность</b> должностных лиц структурных подразделений и служб исходя из структуры производства, транспортировки, распределения и потребления тепловой энергии и теплоносителя, предусмотрев указанную ответственность должностными обязанностями работников и возложив ее приказом или распоряжением.
</p>

                                                <br>

 <h3 class="post-title" >  ПРАВИЛА ПО ОХРАНЕ ТРУДА ПРИ ЭКСПЛУАТАЦИИ ЭЛЕКТРОУСТАНОВОК</h3>


<p style="white-space: pre-wrap;"><b>Приказ Минэнерго РФ от 24 марта 2003 г. N 115

«Об утверждении Правил технической эксплуатации тепловых энергоустановок»</b>
</p>

                        <br>
<h2 class="post-title" > <a name="concepts2"></a>Персональная ответственность</h2>


 <p style="white-space: pre-wrap;">При несоблюдении Правил, вызвавшем нарушения в работе тепловой энергоустановки или тепловой сети, пожар или несчастный случай, <b>персональную ответственность несут:</b>
• управленческий персонал и специалисты цехов и отделов организации, отопительных котельных и ремонтных предприятий
• начальники, их заместители, мастера и инженеры местных производственных служб, участков и ремонтно- механических служб
• начальники, их заместители, мастера и инженеры районов тепловых сетей
<b>за неудовлетворительную организацию работы и нарушения, допущенные ими или их подчиненными</b>

• оперативный и оперативно-ремонтный персонал, диспетчеры
<b>за нарушения, допущенные ими или непосредственно подчиненным им персоналом, выполняющим работу по их указанию (распоряжению)</b>

• работники, непосредственно обслуживающие и ремонтирующие тепловые энергоустановки
<b>за каждое нарушение, происшедшее по их вине, а также за неправильные действия при ликвидации нарушений в работе тепловых энергоустановок на обслуживаемом ими участке</b>

• руководители организации, эксплуатирующей тепловые энергоустановки, и их заместители
<b>за нарушения, происшедшие на руководимых ими предприятиях, а также в результате неудовлетворительной организации ремонта и невыполнения организационно-технических предупредительных мероприятий</b>

• руководители, а также специалисты проектных, конструкторских, ремонтных, наладочных, исследовательских и монтажных организаций, производивших работы на тепловых энергоустановках
<b>за нарушения, допущенные ими или их подчиненным персоналом</b>
 </p>

                        <br>
<h2 class="post-title" > <a name="concepts3"></a>Организационные мероприятия</h2>
<p style="white-space: pre-wrap;">Организационными мероприятиями, обеспечивающими <b>безопасность работ</b> при ремонте оборудования, являются:
• оформление работы нарядом или распоряжением
• допуск к работе
• надзор во время работы
• перевод на другое рабочее место
• оформление перерывов в работе
• оформление окончания работы

С момента допуска бригады к работе надзор за ней возлагается на производителя работ (наблюдающего). Производитель работ должен организовать работу, а наблюдающий - надзор так, чтобы постоянно следить за безопасностью всех членов бригады.

Производитель работ (наблюдающий) по наряду должен все время находиться на месте работы. При необходимости отлучки производитель работ, если его не может заменить руководитель работ, должен прекратить работу бригады и вывести ее в безопасную зону.

Кратковременный уход с места работы членов бригады допускается только с разрешения производителя работ, который до возвращения отлучившихся или до установления их местонахождения и предупреждения об уходе бригады не имеет права уходить с бригадой с места работы.
</p>

                        <br>
<h2 class="post-title" > <a name="concepts4"></a>Проверка соблюдения правил безопасности</h2>
<p style="white-space: pre-wrap;">Руководитель работ и дежурный персонал должны периодически <b>проверять соблюдение</b> работающими <b>правил безопасности.</b>

В тепловых сетях такую проверку осуществляет <b>руководитель </b>работ. При обнаружении нарушений у производителя работ <b>отбирается наряд </b>и бригада удаляется с места работы.

<b>Повторный допуск </b>к работе может быть произведен с разрешения руководителя цеха (подразделения) или работника, выдавшего наряд, при выполнении всех требований первичного допуска к работе с оформлением наряда, после проведения внеочередного инструктажа бригады по технике безопасности с записью в оперативном журнале причины повторного допуска.
</p>

<a name="events1"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
Изменение в составе бригады
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#events1"  style="white-space: break-spaces;">Изменение в составе бригады оформляет в обоих экземплярах наряда <b>руководитель работ.</b>

При большой численности бригады, когда запись об изменении ее состава не умещается
в строках наряда, разрешается прилагать к нему <b>отдельный лист </b>с указанием изменений
и записью в наряде о том, что произведены изменения согласно прилагаемому списку.

Вновь вводимые члены бригады допускаются к работам <b>только после инструктажа</b> руководителем и производителем работ.
    </a></li>
  </ul>
</div>

                        <br>

 <h3 class="post-title" >  ПРИЕМКА И ДОПУСК В ЭКСПЛУАТАЦИЮ ТЕПЛОВЫХ ЭНЕРГОУСТАНОВОК</h3>

<p style="white-space: pre-wrap;">Новые или реконструированные тепловые энергоустановки принимаются в эксплуатацию в порядке, установленном Правилами.

Допуск в эксплуатацию новых и реконструированных тепловых энергоустановок осуществляют <b>органы государственного энергетического надзора</b> на основании действующих нормативно-технических документов.

Монтаж, реконструкция тепловых энергоустановок выполняются по проекту, утвержденному и согласованному в установленном порядке. Проекты тепловых энергоустановок должны соответствовать <b>требованиям охраны труда и природоохранным требованиям.</b>

Перед приемкой в эксплуатацию тепловых энергоустановок проводятся <b>приемосдаточные испытания</b> оборудования и <b>пусконаладочные работы</b> отдельных элементов тепловых энергоустановок и системы в целом.

В период строительства и монтажа зданий и сооружений проводятся <b>промежуточные приемки </b>узлов оборудования и сооружений, в том числе оформление актов скрытых работ в установленном порядке.

<b>Испытания</b> оборудования и пусконаладочные испытания отдельных систем проводятся подрядчиком (генподрядчиком) по проектным схемам после окончания всех строительных и монтажных работ по сдаваемым тепловым энергоустановкам.

Перед пусконаладочными испытаниями проверяется выполнение проектных схем, строительных норм и правил, государственных стандартов, включая стандарты безопасности труда, правил техники безопасности и промышленной санитарии, правил взрыво- и пожаробезопасности, указаний заводов-изготовителей, инструкций по монтажу оборудования и наличия временного допуска к проведению пусконаладочных работ.

Перед пробным пуском подготавливаются условия для <b>надежной и безопасной эксплуатации </b>тепловых энергоустановок:
• укомплектовывается, обучается (с проверкой знаний) персонал;
• разрабатываются эксплуатационные инструкции, инструкции по охране труда, пожарной безопасности, оперативные схемы, техническая документация по учету и отчетности;
• подготавливаются и испытываются средства защиты, инструмент, запасные части, материалы и топливо;
• вводятся в действие средства связи, сигнализации и пожаротушения, аварийного освещения и вентиляции;
• проверяется наличие актов скрытых работ и испытания;
• получается разрешение от надзорных органов.

Тепловые энергоустановки принимаются потребителем (заказчиком) от подрядной организации <b>по акту.</b> Для проведения пусконаладочных работ и опробования оборудования тепловые энергоустановки представляются органу государственного энергетического надзора для осмотра и выдачи <b>временного разрешения.</b>
</p>

                        <br>
<h2 class="post-title" > <a name="concepts5"></a>Комплексное опробование</h2>
<p style="white-space: pre-wrap;">Комплексное опробование производится только по схемам, предусмотренным проектом, и проводится <b>заказчиком:</b> проверяется совместная работа основных агрегатов и всего вспомогательного оборудования под нагрузкой.

Началом комплексного опробования тепловых энергоустановок считается <b>момент их включения.</b>

Комплексное опробование оборудования тепловых энергоустановок считается проведенным при условии нормальной и непрерывной
работы основного оборудования в течение <b>72 ч.</b> на основном топливе
с номинальной нагрузкой и проектными параметрами
теплоносителя. Комплексное опробование тепловых сетей – <b>24 ч.</b>

При комплексном опробовании включаются предусмотренные проектом контрольно-измерительные приборы, блокировки, устройства сигнализации и дистанционного управления, защиты и автоматического регулирования.

Если комплексное опробование не может быть проведено на основном топливе или номинальная нагрузка и проектные параметры теплоносителя для тепловых энергоустановок не могут быть достигнуты по каким-либо причинам, не связанным с невыполнением работ, предусмотренных пусковым комплексом, решение провести комплексное опробование на <b>резервном топливе,</b> а также <b>предельные параметры и нагрузки,</b> принимаются и устанавливаются <b>приемочной комиссией</b> и отражаются в акте приемки в эксплуатацию пускового комплекса.

Если смонтированные тепловые энергоустановки передаются на техническое обслуживание энергоснабжающей организации, то техническая приемка их от монтажной и наладочной организаций проводится совместно с <b>энерго-снабжающей организацией.</b>

Включение в работу тепловых энергоустановок производится <b>после их допуска в эксплуатацию.</b> Для наладки, опробования и приемки в работу тепловой энергоустановки срок временного допуска устанавливается по заявке, но <b>не более 6 месяцев.</b>
</p>

                        <br>

 <h3 class="post-title" >  КОНТРОЛЬ ЗА ЭФФЕКТИВНОСТЬЮ РАБОТЫ ТЕПЛОВЫХ ЭНЕРГОУСТАНОВОК</h3>

 <p style="white-space: pre-wrap;">Для эффективной эксплуатации тепловых энергоустановок <b>организация обеспечивает:</b>
• учет топливно-энергетических ресурсов;
• разработку нормативных энергетических характеристик тепловых энерго-установок;
• контроль и анализ соблюдения нормативных энергетических характеристик и оценку;
• технического состояния тепловых энергоустановок;
• анализ энергоэффективности проводимых организационнотехнических мероприятий;
• ведение установленной государственной статической отчетности;
• сбалансированность графика отпуска и потребления топливно-энергетических ресурсов.

В тепловых энергоустановках должна быть обеспечена:
• требуемая точность измерения расходов тепловой энергии, теплоносителей и технологических параметров работы;
• учет (сменный, суточный, месячный, годовой) по установленным формам показателей работы оборудования, основанный на показаниях контрольно-измерительных приборов и информационно-измерительных систем.
</p>

                        <br>
<h2 class="post-title" > <a name="concepts6"></a>Планирование режимов работы</h2>
<p style="white-space: pre-wrap;">В соответствии со ст. 210 ТК РФ основными направлениями государственной политики в области ОТ являются:

• Обеспечение приоритета сохранения жизни и здоровья работников;
• Принятие и реализация федеральных законов и иных нормативных правовых актов РФ, законов и иных нормативных правовых актов субъектов РФ об охране труда, а также федеральных целевых, отраслевых целевых и территориальных целевых программ улучшения условий и охраны труда;
• государственное управление охраной труда;
• государственная экспертиза условий труда;
• предупреждение производственного травматизма и профессиональных заболеваний;
• формирование основ для оценки и управления профессиональными рисками;
• участие государства в финансировании мероприятий по охране труда;
• разработка мероприятий по улучшению условий и охраны труда;
• координация деятельности в области охраны труда, охраны окружающей среды и других видов экономической и социальной деятельности;
• проведение эффективной налоговой политики, стимулирующей создание безопасных условий труда, разработку и внедрение безопасных техники и технологий, производство средств индивидуальной и коллективной защиты работников;
• создание условий для формирования здорового образа жизни работников;
• установление и совершенствование порядка проведения специальной оценки условий труда и экспертизы качества проведения специальной оценки условий труда;
• установление гарантий и компенсаций за работу с вредными и (или) опасными условиями труда;
• международное сотрудничество в области охраны труда;
• распространение передового отечественного и зарубежного опыта работы по улучшению условий и охраны труда;
• организация мониторинга состояния условий и охраны труда и государственной статистической отчетности об условиях труда, а также о производственном травматизме, профессиональной заболеваемости и об их материальных последствиях;
• обеспечение социальной защиты работников посредством обязательного социального страхования от несчастных случаев на производстве и профессиональных заболеваний и экономической заинтересованности работодателей в снижении профессиональных рисков;
• защита законных интересов работников, пострадавших от несчастных случаев на производстве и профессиональных заболеваний, а также членов их семей на основе обязательного социального страхования работников от несчастных случаев на производстве и профессиональных заболеваний;
• федеральный государственный контроль (надзор) за соблюдением трудового законодательства и иных нормативных правовых актов, содержащих нормы трудового права, включающий в себя проведение проверок соблюдения государственных нормативных требований охраны труда;
• содействие общественному контролю за соблюдением прав и законных интересов работников в области охраны труда.

Реализация основных направлений государственной политики в области охраны труда обеспечивается согласованными действиями органов государственной власти Российской Федерации, органов государственной власти субъектов Российской Федерации и органов местного самоуправления, работодателей, объединений работодателей, профессиональных союзов, их объединений, иных уполномоченных работниками представительных органов по вопросам охраны труда.
</p>

                        <br>
<h2 class="post-title" > <a name="concepts7"></a>Режимно-наладочные испытания и работы</h2>
<p style="white-space: pre-wrap;">К основным методам государственного регулирования в сфере охраны труда
и безопасности производства относятся:
• административные;
• рыночные (подразделяются на: экономические (налоги, тарифы) и технические (сертификация, лицензирование, аккредитация, аттестация));
• социально-психологические (включают в себя проведение конкурсов, присвоение званий, поощрение различного рода наградами и пр.).
</p>

                        <br>

 <h3 class="post-title" >  Технический контроль за состоянием тепловых энергоустановок</h3>

<p style="white-space: pre-wrap;">1. В организациях необходимо организовать постоянный и периодический контроль технического состояния тепловых энергоустановок (осмотры, технические освидетельствования).

2. Все тепловые энергоустановки подвергаются техническому освидетельствованию с целью:
оценки их технического состояния;
установления сроков и условий их эксплуатации и определения мер, необходимых для обеспечения расчетного ресурса тепловой энергоустановки;
выявления потерь топливно-энергетических ресурсов;
составления тепловых балансов.

3. Технические освидетельствования тепловых энергоустановок разделяются на:
первичное (предпусковое) – проводится до допуска в эксплуатацию;
периодическое (очередное) – проводится в сроки, установленные настоящими Правилами или нормативно-техническими документами завода-изготовителя;
внеочередное – проводится в следующих случаях:
если тепловая энергоустановка не эксплуатировалась более 12 месяцев;
после ремонта, связанного со сваркой или пайкой элементов, работающих под давлением, модернизации или реконструкции тепловой энергоустановки;
после аварии или инцидента на тепловой энергоустановке;
по требованию органов государственного энергетического надзора, Госгортехнадзора России.
Результаты освидетельствования заносятся в паспорт тепловых энергоустановок и (или) сетей.

4. Техническое освидетельствование тепловых энергоустановок производится комиссией, назначенной руководителем организации. В состав комиссии включаются руководители и специалисты структурных подразделений организации. Председателем комиссии, как правило, назначается ответственное лицо за исправное состояние и безопасную эксплуатацию тепловых энергоустановок либо специалист из теплоэнергетического персонала, имеющий соответствующий уровень квалификации.
Техническое освидетельствование оборудования тепловых энергоустановок и (или) сетей, подконтрольных Госгортехнадзору России, производится в соответствии с правилами Госгортехнадзора России.

5. Теплотехнические испытания, инструментальные измерения и другие диагностические работы на тепловых энергоустановках могут выполняться специализированными организациями. При проведении работ используются соответствующие средства измерений, методики и программы. Средства измерений должны соответствовать требованиям действующих нормативно-технических документов.
Методики и программы проведения испытаний, инструментальных измерений, проводимых на тепловых энергоустановках, должны быть согласованы специализированными организациями в органах государственного энергетического надзора.

6. Техническое состояние тепловых энергоустановок в процессе эксплуатации контролируется эксплуатирующим их персоналом.
Объем контроля устанавливается в соответствии с требованиями настоящих Правил и других нормативно-технических документов. Порядок контроля устанавливается местными должностными и эксплуатационными инструкциями.

7. Периодические осмотры тепловых энергоустановок производятся лицами, ответственными за исправное состояние и безопасную эксплуатацию тепловых энергоустановок.
Периодичность осмотров устанавливается настоящими Правилами. Результаты осмотров оформляются в журнале обходов и осмотров или оперативном журнале.
</p>

                        <br>
  <div>
      <a href="{% url 'studyapp:topic_3_5' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 5. Работы, связанные с эксплуатацией сосудов (баллонов) под давлением</a>
      <a href="{% url 'tests:test_a' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Пройти тест: В. Безопасные методы и приемы выполнения работ повышенной опасности</a>
</div>

                        <br>
      <a href="{% url 'studyapp:topics_c' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">К выбору темы</a>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}