{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>В. Безопасные методы и приемы выполнения работ повышенной опасности</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->



        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="position: fixed; left: 10px; width: 20%;">
  Вспомогательное меню по теме
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Обучение охране труда</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <b>В. Безопасные методы и приемы выполнения работ повышенной опасности</b>
    </div>
    <div class="dropdown mt-6">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;  width: 100%;">
Выбрать тему
      </button>


              <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_1' %}" style="white-space: pre-wrap;">Тема 1. Основы охраны труда в Российской Федерации</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_2' %}" style="white-space: pre-wrap;">Тема 2. Безопасные методы и приемы выполнения работ повышенной опасности</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_3' %}" style="white-space: pre-wrap;">Тема 3. Работы на высоте</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_4' %}" style="white-space: pre-wrap;">Тема 4. Работы, связанные с работами кранов, подъемных механизмов</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_5' %}" style="white-space: pre-wrap;">Тема 5. Работы, связанные с эксплуатацией сосудов (баллонов) под давлением</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_6' %}" style="white-space: pre-wrap;">Тема 6. Работы по обслуживанию и ремонту тепловых энергоустановок</a></li>
      </ul>



      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;">
        Тема 4. Работы, связанные с работами кранов, подъемных механизмов
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#concepts1" style="white-space: pre-wrap;">1. Требования охраны труда при эксплуатации оборудования</a></li>
        <li><a class="dropdown-item" href="#concepts2" style="white-space: pre-wrap;">2. Требования охраны труда к организации рабочих мест</a></li>
        <li><a class="dropdown-item" href="#concepts3" style="white-space: pre-wrap;">3. Погрузочно-разгрузочные работы в охранной зоне линии электропередачи</a></li>
        <li><a class="dropdown-item" href="#concepts4" style="white-space: pre-wrap;">4. Подготовка рабочих мест к работе</a></li>
        <li><a class="dropdown-item" href="#concepts5" style="white-space: pre-wrap;">5. Требования охраны труда при погрузке и разгрузке грузов</a></li>
      </ul>

    </div>
  </div>
</div>



                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <br>
                                               <h2 class="post-title"> <a name="concepts1"></a>Требования охраны труда при эксплуатации оборудования</h2>

<p style="white-space: pre-wrap;">Прежде чем использовать в работе оборудование и инструмент, необходимо путем внешнего осмотра убедиться в их исправности, при работе с электрооборудованием - в наличии защитного заземления.

Для производства погрузочно-разгрузочных работ применяют съемные грузозахватные приспособления, соответствующие по грузоподъемности массе поднимаемого груза.

Не допускается применять неисправные грузоподъемные машины и механизмы, крюки, съемные грузозахватные приспособления (СГП), тележки, носилки, слеги, покаты, ломы, кирки, лопаты, багры (далее - оборудование и инструменты).
</p>


<a name="events1"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
СГП, которые не допускаются к эксплуатации
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#events1"  style="white-space: break-spaces;">Не допускаются к эксплуатации съемные грузозахватные приспособления (стропы, кольца, петли) (далее - СГП), у которых:
• отсутствует бирка (клеймо);
• деформированы коуши;
• имеются трещины на опрессовочных втулках;
• имеются смещения каната в заплетке или втулках;
• повреждены или отсутствуют оплетки или другие защитные элементы при наличии выступающих концов проволоки у места заплетки;
• крюки не имеют предохранительных замков;
• имеются узлы, порезы, обрывы нитей стропов из синтетических лент на текстильной основе, повреждения лент от воздействия химических веществ;
• имеются повреждения на канатных и цепных съемных грузозахватных приспособлениях.

СГП с дефектами, повреждениями и несоответствиями технической (эксплуатационной) документации (паспортным данным) организации-изготовителя не должны находиться на месте выполнения работ.
    </a></li>
  </ul>
</div>

 <p style="white-space: pre-wrap;">При выполнении погрузочно-разгрузочных работ с применением грузоподъемных кранов <b>запрещается опускать груз на транспортное средство,</b> а также поднимать груз при нахождении работников в кузове или кабине транспортного средства.

Выходы на рельсовые пути, галереи мостовых кранов, находящихся в работе, должны быть <b>закрыты</b> (оборудованы устройствами для запирания).

Допуск работников на рельсовые пути и проходные галереи действующих мостовых кранов должен осуществляться по <b>наряду-допуску.</b>

Движущиеся части конвейеров, находящиеся на высоте менее 2,5 м от уровня пола и к которым не исключен доступ обслуживающего персонала и лиц, работающих вблизи конвейеров, оборудуются <b>ограждениями.</b>

В зоне возможного нахождения работников ограждаются канаты, блоки и грузы натяжных устройств на высоту их перемещения, участок пола под ними, загрузочные и приемные устройства, а также нижние выступающие части конвейера, пересекающие проходы и проезды.
</p>

                        <br>
<h2 class="post-title" > <a name="concepts2"></a>Требования охраны труда к организации рабочих мест</h2>


 <p style="white-space: pre-wrap;">При размещении транспортных средств на погрузочно- разгрузочных площадках между транспортными средствами, стоящими друг за другом (в колонну), устанавливается расстояние <b>не менее 1 м,</b> а между транспортными средствами, стоящими в ряд (по фронту), - <b>не менее 1,5 м.</b>

Если транспортные средства размещаются для погрузки или разгрузки вблизи здания, то между зданием и задним бортом транспортного средства устанавливается интервал <b>не менее 0,8 м.</b>

Расстояние между транспортным средством и штабелем груза должно составлять <b>не менее 1 м.</b>

Грузоподъемные машины устанавливаются так, чтобы при подъеме груза исключалось наклонное положение грузовых канатов и обеспечивался зазор <b>не менее 0,5 м</b> над встречающимися на пути перемещения груза оборудованием, штабелями груза.

При установке крана, управляемого с пола, предусматривается свободный проход для управляющего им работника по всему маршруту движения крана.
</p>

                        <br>
<h2 class="post-title" > <a name="concepts3"></a>Погрузочно-разгрузочные работы в охранной зоне линии электропередачи</h2>
<p style="white-space: pre-wrap;">Погрузочно-разгрузочные работы в охранной зоне линии электропередачи выполняются при наличии <b>письменного разрешения</b> владельца линии электропередачи.

Установка и работа кранов стрелового типа в охранной зоне линии электропередачи или на расстоянии менее 30 м от крайнего провода линии электропередачи осуществляются только по наряду- допуску в присутствии лица, ответственного за безопасное производство работ.
</p>

                        <br>
<h2 class="post-title" > <a name="concepts4"></a>Подготовка рабочих мест к работе</h2>
<p style="white-space: pre-wrap;">Перед выполнением работ на постоянных площадках проводится <b>подготовка рабочих мест к работе:</b>
• погрузочно-разгрузочная площадка, проходы и проезды освобождаются от посторонних предметов, ликвидируются ямы, рытвины, скользкие места посыпаются противоскользящими средствами (например, песком или мелким шлаком);
• проверяется и обеспечивается исправное состояние подъемников, люков, трапов в складских помещениях, расположенных в подвалах и полуподвалах;
• проводится осмотр рабочих мест;
• обеспечивается безопасное для выполнения работ освещение рабочих мест.

О выявленных перед началом производства работ <b>недостатках и неисправностях </b>работник сообщает непосредственному руководителю работ.

Приступать к работе разрешается после выполнения подготовительных мероприятий и устранения всех недостатков и неисправностей. По окончании работ рабочие места необходимо привести в порядок, освободить проходы и проезды.
</p>


                        <br>
<h2 class="post-title" > <a name="concepts5"></a>Требования охраны труда при погрузке и разгрузке грузов</h2>
<p style="white-space: pre-wrap;">Производство погрузочно-разгрузочных работ допускается при соблюдении <b>предельно допустимых норм</b> разового подъема тяжестей (без перемещения): мужчинами - не более 50 кг; женщинами - не более 15 кг.

Погрузка и разгрузка грузов массой <b>от 50 кг до 500 кг</b> должна производиться с применением грузоподъемного оборудования и устройств (тельферов, лебедок, талей, блоков). Ручная погрузка и разгрузка таких грузов допускается под руководством лица, назначенного работодателем ответственным за безопасное производство работ, и при условии, что нагрузка на одного работника не будет превышать 50 кг.

Погрузка и разгрузка грузов массой <b>более 500 кг </b>должна производиться с применением грузоподъемных машин.

При производстве погрузочно-разгрузочных работ <b>несколькими работниками</b> необходимо каждому из них следить за тем, чтобы не причинить друг другу травмы инструментами или грузами.
</p>

                        <br>

 <h3 class="post-title" >  СТРОПОВКА ГРУЗОВ</h3>

<a name="events2"></a>
<p style="white-space: pre-wrap;">Строповка грузов производится в соответствии со <a href="#events2" title="Схемы строповки, графическое изображение способов строповки и зацепки грузов выдаются работникам или вывешиваются в местах производства работ">схемами строповки.</a> Погрузка и разгрузка грузов, на которые не разработаны схемы строповки, производятся под руководством лица, ответственного за безопасное производство работ. При этом применяются съемные грузозахватные приспособления, тара и другие вспомогательные средства, указанные в документации на транспортирование грузов.

При строповке грузов необходимо руководствоваться следующим:
• масса и центр тяжести изделий заводской продукции указываются в <b>технической документации</b> завода-изготовителя;
• масса станков, машин, механизмов и другого оборудования указывается на <b>заводской табличке,</b> прикрепленной к станине или раме станка или машины;
• масса, центр тяжести и места строповки упакованного груза указываются на <b>обшивке груза;</b>
• строповка <b>крупногабаритных грузов</b> производится за специальные устройства, строповочные узлы или обозначенные на грузе места в зависимости от положения его центра тяжести.

После строповки груза для <b>проверки ее надежности</b> груз должен быть поднят на высоту 200-300 мм от уровня пола (площадки). Только убедившись в надежности строповки работник, застропивший груз, дает команду на дальнейший подъем и перемещение груза.

Перемещать груз над рабочими местами при нахождении людей в зоне перемещения груза запрещается.

При погрузке и разгрузке грузов, имеющих <b>острые и режущие кромки и углы,</b> применяются подкладки и прокладки, предотвращающие повреждение грузозахватных устройств.
</p>

                        <br>

 <h3 class="post-title" >  ПОГРУЗКА И РАЗГРУЗКА ГРУЗОВ С ПРИМЕНЕНИЕМ КОНВЕЙЕРА</h3>

<p style="white-space: pre-wrap;">При погрузке и разгрузке грузов с <b>применением конвейера</b> необходимо соблюдать следующие требования:
• укладка грузов обеспечивает равномерную загрузку рабочего органа конвейера и устойчивое положение груза;
• подача и снятие груза с рабочего органа конвейера производится при помощи специальных подающих и приемных устройств.
</p>

                        <br>

 <h3 class="post-title" >  ПОГРУЗКА И РАЗГРУЗКА СЫПУЧИХ ГРУЗОВ</h3>

<p style="white-space: pre-wrap;">При погрузке и разгрузке <b>сыпучих грузов</b> соблюдаются следующие требования:
• погрузка и разгрузка сыпучих грузов производятся механизированным способом, исключающим, по возможности, загрязнение воздуха рабочей зоны. При невозможности исключения загрязнения воздуха рабочей зоны работники обеспечиваются средствами индивидуальной защиты органов дыхания фильтрующего типа;
• при погрузке сыпучих грузов из штабеля не допускается производство работ подкопом с образованием козырька с угрозой его обрушения;
• при разгрузке сыпучих грузов из полувагонов люки открываются специальными приспособлениями, позволяющими работникам находиться на безопасном расстоянии от разгружаемого груза;
• при разгрузке сыпучих грузов из полувагонов на путях, расположенных на высоте более 2,5 м (на эстакадах), открытие люков производится со специальных мостков.
</p>

                        <br>
  <div>
      <a href="{% url 'studyapp:topic_3_3' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 3. Работы на высоте</a>
      <a href="{% url 'studyapp:topic_3_5' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 5. Работы, связанные с эксплуатацией сосудов (баллонов) под давлением</a>
</div>

                        <br>
      <a href="{% url 'studyapp:topics_c' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">К выбору темы</a>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}