{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>Г. Средства индивидуальной защиты</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->





        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="position: fixed; left: 10px; width: 20%;">
  Вспомогательное меню по теме
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Обучение охране труда</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <b>Г. Средства индивидуальной защиты</b>
    </div>
    <div class="dropdown mt-6">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;  width: 100%;">
Выбрать тему
      </button>


              <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_1' %}" style="white-space: pre-wrap;">Тема 1. Средства индивидуальной защиты органов дыхания (СИЗОД)</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_2' %}" style="white-space: pre-wrap;">Тема 2. Средства индивидуальной защиты головы</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_3' %}" style="white-space: pre-wrap;">Тема 3. Средства индивидуальной защиты органов слуха</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_4' %}" style="white-space: pre-wrap;">Тема 4. Средства индивидуальной защиты глаз</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_5' %}" style="white-space: pre-wrap;">Тема 5. Средства индивидуальной защиты кожи</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_6' %}" style="white-space: pre-wrap;">Тема 6. Средства индивидуальной защиты рук</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_7' %}" style="white-space: pre-wrap;">Тема 7. Средства индивидуальной защиты от падения</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_8' %}" style="white-space: pre-wrap;">Тема 8. Специальная обувь</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_4_9' %}" style="white-space: pre-wrap;">Тема 9. Специальная одежда</a></li>
      </ul>


      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;">
        Тема 5. Средства индивидуальной защиты кожи
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#concepts1" style="white-space: pre-wrap;">1. Для чего нужны СИЗ кожи</a></li>
        <li><a class="dropdown-item" href="#concepts2" style="white-space: pre-wrap;">2. Классификация СИЗ кожи</a></li>
        <li><a class="dropdown-item" href="#concepts3" style="white-space: pre-wrap;">3. Защитные крема</a></li>
        <li><a class="dropdown-item" href="#concepts4" style="white-space: pre-wrap;">4. Средства очистки</a></li>
        <li><a class="dropdown-item" href="#concepts5" style="white-space: pre-wrap;">5. Регенерирующие крема</a></li>
        <li><a class="dropdown-item" href="#concepts6" style="white-space: pre-wrap;">6. Спрей для защиты кожи ног</a></li>
      </ul>

    </div>
  </div>
</div>



                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <br>
                                               <h2 class="post-title"> <a name="concepts1"></a>Для чего нужны СИЗ кожи</h2>


<a name="events1"></a>
                         <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;">
Особенности профессиональных заболеваний кожи
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#events1" style="white-space: break-spaces;">• Причиной болезни является продолжительный контакт с веществами, кажущимися безвредными
• Повреждение кожи происходит незаметно
• Для развития болезни требуются месяцы или даже годы
<b>• Кожа теряет способность к регенерации!</b>
    </a></li>
  </ul>
</div>

       <a name="events2"></a>

                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: pre-wrap;">
Симптомы повреждения кожи
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item" href="#events2" style="white-space: break-spaces;">• Покраснение;
• Разбухание;
• Зуд;
• Сухость;
• Сочащиеся раны;
• Трещины;
• Шелушение.
    </a></li>

  </ul>
</div>

       <a name="events3"></a>
                                                <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: pre-wrap;">
Заболевания кожи
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
    <li><a class="dropdown-item" href="#events3" style="white-space: break-spaces;">• Ожог/раздражение;
• Дегенеративные заболевания;
• Аллергия.
    </a></li>
  </ul>
</div>

       <br>
                                               <h2 class="post-title"> <a name="concepts2"></a>Классификация СИЗ кожи</h2>

<p style="white-space: pre-wrap;"><b>Защитные крема</b>

<b>Средства очистки</b>

<b>Регенерирующие крема</b>
</p>

       <br>
                                               <h2 class="post-title"> <a name="concepts3"></a>Защитные крема</h2>

<p style="white-space: pre-wrap;"><b>Требования стандарта</b>
• Крем (эмульсия) должен образовывать <b>защитный барьер</b>
на коже и обладать <b>ухаживающим эффектом.</b> Он должен легко
наноситься, быстро впитываться в кожу, оставляя увлажняющее ощущение, и обладать высокими защитными свойствами
при минимальном расходе.
• Защитный крем <b>не должен содержать силикона.</b>
• Для эффективного и экономичного использования защитных кремов допускается следующее <b>содержание воды</b> в их составе:
    - защита от водонерастворимых веществ – не более 55%;
    - защита от водорастворимых веществ – не более 75%;
    - крема комбинированного действия – не более 75%.

<b>Крема гидрофильного действия.</b>
<b>Назначения:</b> для защиты и облегчения очистки от масел, нефти, красок, лаков, клеев, смол, графита, металлической пыли, сажи, мазута и органических растворителей (бензин, разбавители лаков и политуры, вещества перегонки, усилители, очистители).

<b>Крема гидрофобного действия</b>
<b>Назначения:</b>
• для защиты от СОЖ, стекла, керамики, чистящих и дезинфицирующих средств, цемента, извести, удобрений, химических растворов кислот, щелочей, солей и т.д.
• для защиты кожи от разбухания и последствий чрезмерного потоотделения при работе в закрытой защитной одежде или перчатках.

<b>Крема комбинированного действия</b>
Назначения:
• для защиты кожи рук в изменяющихся условиях работы – <b>от водонерастворимых</b> (сажа, металлическая пыль, клей, органические растворители, масла) материалов и <b>от водорастворимых</b> рабочих материалов (вода, водные растворы кислот, щелочей, солей, извести, цемента, удобрений)
• в качестве защиты под перчатки

<b>Применение</b>
Применять <b>перед началом каждой рабочей смены,</b> а также <b>после каждого перерыва.</b>
• Без перчаток
• С перчатками
</p>

                        <br>

<h3 class="post-title"> ПРАКТИКА</h3>

<p style="white-space: pre-wrap;">Давайте немного попрактикуемся и воспользуемся <b>правилами применения защитных кремов.</b>

Для этого <b>возьмите</b> защитный крем и <b>нанесите</b> его на сухую и чистую кожу:

<b>Не забудьте места:</b>
• между пальцев
• вокруг ногтей
• тыльная сторона ладони
</p>

       <br>
                                               <h2 class="post-title"> <a name="concepts4"></a>Средства очистки</h2>

<p style="white-space: pre-wrap;"><b>Требования стандарта</b>
• Для эффективного и экономичного использования очищающих паст допускается <b>содержание воды не более 55%.</b>
• Не должны содержать мыла, вредных органических растворителей, силикона, абразивных средств искусственного происхождения, абразивных веществ растительного происхождения с повышенным аллергенным потенциалом (продукты переработки зерновых, древесная мука и т.п.), неочищенных и неосветленных натуральных абразивных веществ (риск кожных инфекций вследствие содержания микроорганизмов), а также порошок пемзы (опасность травмирования кожи).

<b>Гель с кондиционером для очистки рук от легких загрязнений</b>
<b>Назначение:</b> очистка от пыли, жира, пота и т.п.

<b>Очищающая паста для рук от сильных загрязнений с абразивным средством</b>
<b>Назначение:</b> очистка от масел, смазочных веществ, графита, металлической пыли и сажи и т.п.

<b>Очищающая паста для рук от особенно устойчивых загрязнений</b>
<b>Назначение:</b> очистка от масляных красок, лаков, смол, клеев и т.п
</p>


       <br>
                                               <h2 class="post-title"> <a name="concepts5"></a>Регенерирующие крема</h2>

<p style="white-space: pre-wrap;"><b>Назначение:</b>
• для ухода за кожей рук и лица, подверженной профессиональным стрессам и воздействию окружающей среды
• для защиты кожи рук и лица от низких температур, сильного ветра, снега

<b>РЕГЕНЕРИРУЮЩИЕ КРЕМА НЕОБХОДИМЫ ДЛЯ:</b>
• Восполнения влаги и липидных веществ, которые были потеряны во время работы;
• Сохранения природных защитных функций кожи;
• Предотвращения шелушения, загрубения, растрескивания кожи;
• Защиты от внешних факторов среды(холод, ветер, дождь, снег);
• Предотвращения экземы и дерматита.
</p>


       <br>
                                               <h2 class="post-title"> <a name="concepts6"></a>Спрей для защиты кожи ног</h2>

<p style="white-space: pre-wrap;"><b>Назначение:</b>
для защиты ног от грибковых инфекций, последствий чрезмерного потоотделения, разбухания кожи стоп, запаха при ношении специальной обуви (резиновые сапоги, защитная обувь).
</p>



                        <br>
<div>
    <a href="{% url 'studyapp:topic_4_4' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 4. Средства индивидуальной защиты глаз</a>
    <a href="{% url 'studyapp:topic_4_6' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 6. Средства индивидуальной защиты рук</a>
</div>

                        <br>
                         <a href="{% url 'studyapp:topics_d' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">К выбору темы</a>

                    </div>
                </div>
            </div>
        </article>
{% endblock %}