{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>Б. Безопасные методы и приемы выполнения работ при воздействии вредных и (или) опасных производственных факторов, опасностей, идентифицированных в рамках системы управления охраной труда в организации и оценки профессиональных рисков</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->


        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="position: fixed; left: 10px; width: 20%;">
  Вспомогательное меню по теме
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Обучение охране труда</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <b>Б. Безопасные методы и приемы выполнения работ при воздействии вредных и (или) опасных производственных факторов, опасностей, идентифицированных в рамках системы управления охраной труда в организации и оценки профессиональных рисков</b>
    </div>

    <div class="dropdown mt-6">

                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;  width: 100%;">
Выбрать тему
      </button>

              <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_2_1' %}" style="white-space: pre-wrap;">Тема 1. Безопасные методы и приемы выполнения работ при воздействии вредных и (или) опасных производственных факторов, опасностей, идентифицированных в рамках системы управления охраной труда в организации и оценки профессиональных рисков</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_2_2' %}" style="white-space: pre-wrap;">Тема 2. Опасные и вредные производственные факторы, обладающие свойствами физического воздействия на организм работающего человека</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_2_3' %}" style="white-space: pre-wrap;">Тема 3. Опасные и вредные производственные факторы, обладающих свойствами биологического воздействия на организм человека</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_2_4' %}" style="white-space: pre-wrap;">Тема 4. Опасные и вредные производственные факторы, обладающих свойствами психофизиологического воздействия на организм человека</a></li>
      </ul>

      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;">
        Тема 3. Опасные и вредные производственные факторы, обладающих свойствами биологического воздействия на организм человека
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#concepts" style="white-space: pre-wrap;">1. Классификация опасных и вредных производственных факторов, обладающих свойствами биологического воздействия на организм человека</a></li>
        <li><a class="dropdown-item" href="#concepts1" style="white-space: pre-wrap;">2. Последствия негативного влияния биологических факторов</a></li>
        <li><a class="dropdown-item" href="#concepts2" style="white-space: pre-wrap;">3. Профилактика профессиональных заболеваний</a></li>
        <li><a class="dropdown-item" href="#concepts3" style="white-space: pre-wrap;">4. Бактерии</a></li>
      </ul>

    </div>
  </div>
</div>



                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <br>
                                               <h1 class="post-title"> Безопасные методы и приемы выполнения работ при воздействии вредных и (или) опасных производственных факторов, опасностей, идентифицированных в рамках системы управления охраной труда в организации и оценки профессиональных рисков</h1>
                        <br>
                                               <h2 class="post-title"> <a name="concepts"></a>Классификация опасных и вредных производственных факторов, обладающих свойствами физического воздействия на организм</h2>

<p style="white-space: pre-wrap;">Опасные и вредные производственные факторы биологической природы действия на организм работающего связаны с такими <b>биологическими объектами,</b> как:
• патогенные и условно патогенные микроорганизмы (бактерии, вирусы, риккетсии, спирохеты, грибы, простейшие);
• продукты жизнедеятельности патогенных и условно патогенных микроорганизмов.
</p>

                        <br>

 <h3 class="post-title" >  КЛАССИФИКАЦИЯ БИОЛОГИЧЕСКИХ ОБЪЕКТОВ</h3>


<p style="white-space: pre-wrap;"><b>Для целей идентификации опасностей и оценки риска</b> биологические объекты, обладающие биологическим воздействием на организм работающего, подразделяют:
• на микроорганизмы-продуценты, живые клетки и споры, содержащиеся в бактериальных препаратах;
• патогенные микроорганизмы – возбудители особо опасных инфекционных заболеваний;
• патогенные и условно патогенные микроорганизмы – возбудители иных (помимо особо опасных) инфекционных заболеваний;
• условно-патогенные микроорганизмы – возбудители неинфекционных заболеваний (аллергозов и т.п.).

<b>Для целей охраны труда, медицины труда, гигиены труда и производственной санитарии</b> биологические объекты, обладающие биологическим воздействием на организм работающего, подразделяют <b>по характеру результирующего воздействия</b> на организм человека на вызывающие:
• острые заболевания, приводящие к летальному исходу;
• острые заболевания, приводящие к инвалидности;
• иные острые или хронические заболевания, причина которых может быть так или иначе связана с условиями труда (производственно-обусловленные и профессиональные заболевания);
• иные острые или хронические заболевания, причина которых не может быть однозначно связана с условиями труда (общие заболевания).

<b>Для целей оценки риска воздействия и выработки мер защиты</b> биологические объекты, обладающие биологическим воздействием на организм работающего, подразделяют:
• на возбудители инфекционных заболеваний человека;
• возбудители инфекционных заболеваний, общих для человека и животных, с которыми в контакте находится работающий;
• возбудители инфекционных заболеваний человека, носителями которых являются животные и (или) насекомые, с которыми в контакте находится работающий.

<b>Для целей оценки риска воздействия и выработки мер защиты</b> биологические объекты, обладающие биологическим воздействием на организм работающего, подразделяют на следующие группы:
• повсеместно (убиквитарно) распространенные, контакт с которыми общедоступен и непроизволен;
• локально распространенные, контакт с которыми обусловлен только пересечением местонахождения работающего человека и ареала заражения;
• локализованные специально, контакт с которыми обусловлен только случайным или целенаправленным разрушением средств локализации.
• способные/неспособные к широко распространенной контаминации;
• способные/неспособные к устойчивому существованию в окружающей среде, сырье, материалах, полуфабрикатах и готовой продукции;
• способные/неспособные к устойчивому существованию при применении к ним основных мер санитарии и деконтаминации.
</p>

                        <br>

 <h3 class="post-title" >  КЛАССИФИКАЦИЯ ОПАСНЫХ БИОЛОГИЧЕСКИХ ФАКТОРОВ</h3>

                        <a name="events1"></a>
                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: break-spaces;">
Класификация по биологической структуре
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#events1"  style="white-space: break-spaces;"><b>По биологической структуре:</b>
• патогенные микроорганизмы – бактерии, вирусы и продукты их жизнедеятельности. Как правило, осуществляют вредное воздействие на организм человека;
• биологически активные вещества, которые получают методом микробиологического синтеза – кормовые добавки, антибиотики, аминокислоты, ферменты, средства защиты растений.
  </a></li>
  </ul>
</div>

<a name="events2"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: break-spaces;">
Класификация по особенностям образования
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item" href="#events2"  style="white-space: break-spaces;"><b>По особенностям образования:</b>
• природные – возбудители инфекционных заболеваний и инвазий людей, животных и птиц, природные отходы животного мира, продукты развития растений;
• индустриальные (искусственные) – факторы, присущие промышленным комплексам, средства биологической защиты растений, антибиотики, химические концентраты, стимуляторы роста, сыворотки, физиологически активных веществ, результаты производства и переработки сельскохозяйственной продукции.
   </a></li>
  </ul>
</div>


<a name="events3"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: break-spaces;">
Класификация по механизму воздействия на организм человека
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
    <li><a class="dropdown-item" href="#events3"  style="white-space: break-spaces;"><b>По механизму воздействия на организм человека:</b>
• инфицирующие – осуществляют заражения организма человека путем попадания бактерий, вирусов, грибов или спор. Риск заражения вредными возбудителями чаще испытывают работники фермерского хозяйства, рабочие мясокомбинатов, птицефабрик, предприятий пищевой промышленности и переработки сырья животного и растительного происхождения. Вследствие заражения у лица может наступить нарушение процесса обмена веществ и иммунодепрессии. Длительное течение болезни может привести к микозу.
• аллергенные – провоцируют возникновение аллергических реакций в организме. Аллергенное действие присуще органическим веществам растительного и животного происхождения, определенным группам бактерий и грибов, продуктов жизнедеятельности клещей или насекомых. У рабочего, который работает под воздействием аллергенных факторов, может возникнуть гиперчувствительность немедленного или медленного типа. Гиперчувствительность немедленного типа возникает сразу, в первые минуты или часы после контакта с биологическим фактором, и принимает форму сенной лихорадки. В свою очередь, гиперчувствительность медленного типа обусловлена постепенным воздействием биологических факторов в малом количестве и проходит в малоактивной форме.
• токсические – обусловлены способностью бактерий и грибов выделять токсины. Грамотрицательные бактерии выделяют эндотоксины, а грибы – микотоксины. Обычно в промышленных условиях токсические биологические факторы возникают не изолированно, а в различных комбинациях с физическими и химическими факторами.
    </a></li>
  </ul>
</div>

                        <br>

 <h3 class="post-title" >  ВИДЫ ПРОФЕССИЙ В ЗАВИСИМОСТИ ОТ НЕГАТИВНОГО ВОЗДЕЙСТВИЯ БИОЛОГИЧЕСКИХ ФАКТОРОВ</h3>


<p style="white-space: pre-wrap;"><b>Виды профессий в зависимости от негативного воздействия биологических факторов:</b>
• Трудовая деятельность, сопровождается опасным действием на организм рабочего микроорганизмов и продуктов их жизнедеятельности, например: изготовление биологических препаратов, основой для которых являются микроорганизмы, биологические жидкости или ткани; деятельность, требующая использования химических препаратов для профилактики, лечения или диагностики; ликвидация очагов инфекционных болезней; работы по лечению и уходу за инфекционными больными или носителями возбудителей.
• Деятельность, связанная с воздействием на организм человека домашних, диких и лабораторных животных: обслуживание животных в сельском хозяйстве или в вивариях научно-исследовательских учреждений; охотничьи и рыболовные промыслы; убой животных; переработка сырья животного происхождения; обслуживание и дрессировки животных.
• Работы, связанные с вредным воздействием на организм человека культурных и дикорастущих растений: выращивание, сбор и переработка растительного сырья; производство лекарственных препаратов и аллергенов из растений; производство кормов и другая аналогичная деятельность.

Для указанных видов деятельности присуще влияние микроорганизмов и продуктов их метаболизма, которые могут негативно воздействовать на организм работника при исполнении им трудовых задач.
</p>
                        <br>
                                               <h2 class="post-title"> <a name="concepts1"></a>Последствия негативного влияния биологических факторов</h2>

<p style="white-space: pre-wrap;">Длительное воздействие опасных биологически активных факторов на работника может привести к возникновению <b>инфекционных и паразитарных заболеваний и инвазий профессионального генеза.</b> Риск возбуждения болезни увеличивается в случае непосредственного контакта человека с источником инфекции и в случаях пренебрежение работником санитарно-гигиенических норм и правил.

Профессиональные заболевания, вызванные контактом с больными животными и продуктами их жизнедеятельности, называют зооантропонозами. Обычно, <b>зооантропонозами</b> различных форм страдают ветеринары, рабочие молокозаводов и мясокомбинатов, фабрик по обработке шерсти и кожи, которые могут негативно воздействовать на организм работника при исполнении им трудовых задач.
</p>

                  <br>
   <h2 class="post-title"> <a name="concepts2"></a>Профилактика профессиональных заболеваний</h2>

<p style="white-space: pre-wrap;">Для предотвращения профессиональных заболеваний следует принимать комплекс противоэпидемических, профилактических и ветеринарных мероприятий, предназначенных для улучшения санитарно-гигиенического состояния объектов.

<b>К наиболее распространенным профилактическим мероприятиям относят:</b>
• использование антибиотикосодержащих препаратов в воздухе промышленных помещений или цехов;
• автоматизация и герметизация технологических процессов;
• создание микроклимата, неблагоприятного для распространения инфекции;
• обеспечение регулярной очистки и вентиляции воздуха;
• применение спецодежды и индивидуальных средств защиты работника;
• введение регулярных медицинских обследований.
</p>

                  <br>
   <h2 class="post-title"> <a name="concepts3"></a>Бактерии</h2>

<p style="white-space: pre-wrap;">Бактерии в помещениях можно разнести на две категории:
• <b>патогенные,</b> опасные для здоровья человека;
• <b>относительно безопасные,</b> естественным образом развивающиеся на поверхностях помещения с избыточной влажностью.

Патогенные способны вызывать опасные заболевания у человека при вдыхании или проглатывании, а также в ходе контакта с кожей.

К наиболее значимым воздушно-капельным болезням относятся: туберкулез, внутрибольничная пневмония и легионеллез. Эти инфекции обычно поражают человека при вдыхании патогенных микробов.
</p>


<a name="events4"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px; white-space: break-spaces;">
Основные места скопления микробов
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
    <li><a class="dropdown-item" href="#events4"  style="white-space: break-spaces;">Медицинское исследование, заключавшееся в сборе проб с различных поверхностей в бытовых помещениях, выяснило, что <b>основными местами скопления микробов были следующие</b> (в порядке убывания плотности бактерий на единицу площади):
• пол и ковер,
• внешний воздух,
• домашние питомцы,
• вход в помещение,
• кожа,
• кухонный стол,
• ванная,
• холодильник,
• слюна,
• туалет.

Причина, по которой пол и ковер удерживают первое место, обусловлена гравитацией, вызывающей оседание всех микроорганизмов в нижней части помещения. Перемещение человека по комнате, а также использование пылесоса приводят к подъему микробов в воздух и дальнейшему оседанию на пол. Если воздух и поверхности помещения сильно загрязнены вредными биологическими объектами, то микробы могут пребывать в нем весьма долго, если их не удалить при помощи уборки и фильтрации воздуха. Если же этого не делать, то люди, присутствующие в помещении, будут постоянно дышать загрязненным воздухом и подвергаться повышенному риску заболеваний. <b>Эффективным способом удаления этих микроорганизмов из воздушной среды является использование очистителя.</b>
    </a></li>
  </ul>
</div>

                        <br>

  <div>                       <a href="{% url 'studyapp:topic_2_2' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 2. Опасные и вредные производственные факторы, обладающие свойствами физического воздействия на организм работающего человека</a>
                         <a href="{% url 'studyapp:topic_2_4' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 4. Опасные и вредные производственные факторы, обладающих свойствами психофизиологического воздействия на организм человека</a>
</div>

                        <br>
                        <a href="{% url 'studyapp:topics_b' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">К выбору темы</a>


                    </div>
                </div>
            </div>
        </article>
{% endblock %}