{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>В. Безопасные методы и приемы выполнения работ повышенной опасности</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->



        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="position: fixed; left: 10px; width: 20%;">
  Вспомогательное меню по теме
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Обучение охране труда</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <b>В. Безопасные методы и приемы выполнения работ повышенной опасности</b>
    </div>
    <div class="dropdown mt-6">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;  width: 100%;">
Выбрать тему
      </button>


              <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_1' %}" style="white-space: pre-wrap;">Тема 1. Основы охраны труда в Российской Федерации</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_2' %}" style="white-space: pre-wrap;">Тема 2. Безопасные методы и приемы выполнения работ повышенной опасности</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_3' %}" style="white-space: pre-wrap;">Тема 3. Работы на высоте</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_4' %}" style="white-space: pre-wrap;">Тема 4. Работы, связанные с работами кранов, подъемных механизмов</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_5' %}" style="white-space: pre-wrap;">Тема 5. Работы, связанные с эксплуатацией сосудов (баллонов) под давлением</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_3_6' %}" style="white-space: pre-wrap;">Тема 6. Работы по обслуживанию и ремонту тепловых энергоустановок</a></li>

      </ul>



      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;">
        Тема 3. Работы на высоте
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#concepts1" style="white-space: pre-wrap;">1. Правила охраны труда при работе на высоте</a></li>
        <li><a class="dropdown-item" href="#concepts2" style="white-space: pre-wrap;">2. Виды систем</a></li>
        <li><a class="dropdown-item" href="#concepts3" style="white-space: pre-wrap;">3. Обязанности работодателя</a></li>
      </ul>

    </div>
  </div>
</div>



                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <br>
                                               <h2 class="post-title"> <a name="concepts1"></a>Правила охраны труда при работе на высоте</h2>

<p style="white-space: pre-wrap;"><b>Приказ № 782н об утверждении «Правил по охране труда при работе на высоте» </b>вступил в силу с 1 января 2021 года и действует до 31 декабря 2025 года:
п.1. Правила по охране труда при работе на высоте (далее - Правила) устанавливают государственные нормативные требования по охране труда и регулируют порядок действий работодателя и работника при организации и проведении работ на высоте.

п.2. Требования Правил распространяются на работников и работодателей - физических или юридических лиц, вступивших в трудовые отношения с работниками, выполняющими работы на высоте (далее - работодатели, работники).

п.3 К работам на высоте относятся работы, при которых:
а) существуют риски, связанные с возможным падением работника с высоты 1,8 м и более, в том числе:
    … при осуществлении работником подъема на высоту более 5 м, или спуска с высоты более 5 м по лестнице, угол наклона которой к горизонтальной поверхности более 75⁰;
    … при проведении работ на площадках на расстоянии ближе 2 м от неогражденных перепадов по высоте более 1,8 м, а также если высота защитного ограждения этих площадок менее 1,1 м;
б) существуют риски, связанные с возможным падением работника с высоты менее 1,8 м, если работа проводится над машинами и механизмами, поверхностью жидкости или сыпучих мелкодисперсных материалов, выступающими предметами.

п.7. Работы с высоким риском падения работника с высоты, а также работы на высоте без применения средств подмащивания, выполняемые на высоте 5 м и более; работы, выполняемые на площадках на расстоянии менее 2 м от неогражденных (при отсутствии защитных ограждений) перепадов по высоте более 5 м либо при высоте ограждений, составляющей менее 1,1 м, выполняются по заданию работодателя на производство работ с выдачей оформленного на специальном бланке наряда-допуска на производство работ (далее - наряд-допуск).

п.8. Работы на высоте, для которых принятыми работодателем мерами обеспечения безопасности работника обеспечен допустимый минимальный риск его падения, в том числе:
а) применение защитных ограждений высотой 1,1 м и более, обеспечивающих безопасность работника от падения на площадках и рабочих местах;
б) применение инвентарных конструкций лесов, подмостей, устройств и средств подмащивания, применением подъемников (вышек), строительных фасадных подъемников, подвесных лесов, люлек, машин или механизмов;

а также периодически повторяющиеся работы на высоте, указанные в пункте 7, и которые являются неотъемлемой частью действующего технологического процесса, характеризующиеся постоянством места, условий и характера работ, применением средств коллективной защиты, определенным и постоянным составом квалифицированных исполнителей, в соответствии с действующей у работодателя СУОТ можно проводить без оформления наряда-допуска.

п.45. Не допускается выполнение работ на высоте без оформления наряда-допуска с указанием в пункте 3 наряда- допуска соответствующих мероприятий по безопасности работ на высоте при указанных в пункте 4 наряда-допуска особых условий проведения работ, в том числе:
а) в открытых местах при скорости воздушного потока (ветра) 15 м/с и более;
б) при грозе или тумане, исключающем видимость в пределах фронта работ, а также при гололеде с обледенелых конструкций и в случаях нарастания стенки гололеда на проводах, оборудовании, инженерных конструкциях (в том числе опорах линий электропередачи), деревьях;
в) при монтаже (демонтаже) конструкций с большой парусностью при скорости ветра 10 м/с и более.
</p>

<br>

<h2 class="post-title" > <a name="concepts2"></a>Виды систем</h2>
 <p style="white-space: pre-wrap;">Системы обеспечения безопасности работ на высоте делятся на следующие виды:
</p>

<a name="events1"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
Удерживающие системы
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#events1"  style="white-space: break-spaces;">При использовании <b>удерживающих систем</b> ограничением длины стропа или максимальной длины вытяжного каната должны быть исключены в рабочей зоне зоны возможного падения с высоты, а также участки с поверхностью из хрупкого материала, открываемые люки или отверстия.

В качестве привязи в удерживающих системах возможно использование всех подходящих привязей под данный вид работ.

В качестве стропов соединительной подсистемы удерживающей системы могут использоваться любые подходящие стропы, в том числе для позиционирования постоянной или регулируемой длины, эластичные стропы, стропы с амортизатором и средства защиты втягивающего типа.

Удерживающая система:
• Применяется если угол наклона плоскости меньше 20⁰;
• Наиболее безопасная (падение исключается).
    </a></li>
  </ul>
</div>


<a name="events2"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
Страховочные системы
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item" href="#events2"  style="white-space: break-spaces;"><b>Страховочные системы </b>используются в случае выявления по результатам осмотра рабочего места риска падения ниже точки опоры работника, потерявшего контакт с опорной поверхностью, при этом их использование сводит к минимуму последствия от падения с высоты путем остановки падения.

В качестве привязи в страховочных системах используется страховочная привязь.

В состав соединительно-амортизирующей подсистемы страховочной системы входит амортизатор или устройство функционально его заменяющее. Соединительно-амортизирующая подсистема может быть выполнена из стропов, средства защиты втягивающего типа или средств защиты ползункового типа на гибких или жестких анкерных линиях.

Страховочная система:
• Применяется для остановки падения;
• В состав страховочной системы входит амортизатор (EN 355) или устройство функционально его заменяющее.
    </a></li>
  </ul>
</div>


<a name="events3"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
Системы позиционирования
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
    <li><a class="dropdown-item" href="#events3"  style="white-space: break-spaces;"><b>Системы позиционирования </b>используются в случаях, когда необходима фиксация рабочего положения на высоте для обеспечения комфортной работы в подпоре, при этом сводится к минимуму риск падения ниже точки опоры путем принятия рабочим определенной рабочей позы.

Использование системы позиционирования требует обязательного наличия страховочной системы.

В качестве соединительной подсистемы системы позиционирования должны использоваться стропы для позиционирования постоянной или регулируемой длины, но могут использоваться средства защиты ползункового типа на гибких или жестких анкерных линиях.

Система позиционирования:
• Используется вместе со страховочной системой;
• Необходима в случае освобождения двух рук для работы;
• Нужна привязь с боковыми точками позиционирования или/и точка крепления для работ в положении сидя.
    </a></li>
  </ul>
</div>

<a name="events4"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
Системы спасения и эвакуации
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
    <li><a class="dropdown-item" href="#events4"  style="white-space: break-spaces;">В состав <b>систем спасения и эвакуации</b> должны входить:
• дополнительные или уже используемые, но рассчитанные на дополнительную нагрузку, анкерные устройства, в том числе использующие анкерные линии;
• резервные удерживающие системы, системы позиционирования, системы доступа и (или) страховочные системы;
• необходимые средства подъема и (или) спуска, в зависимости от плана спасения и (или) эвакуации (например, лебедки, блоки, спасательные подъемные устройства, устройства с ручным или автоматическим спуском, подъемники);
• носилки, шины, средства иммобилизации;
• аптечка для оказания первой помощи.
    </a></li>
  </ul>
</div>

<br>

<h2 class="post-title" > <a name="concepts3"></a>Обязанности работодателя</h2>
 <p style="white-space: pre-wrap;">п.5, 6 Правил по ОТ при работе на высоте:
<b>Работодатель для обеспечения безопасности работников должен по возможности исключить работы на высоте.</b>
При невозможности исключения работ на высоте работодатель должен обеспечить реализацию мер СУОТ по снижению установленных уровней профессиональных рисков, связанных с возможным падением работника, в том числе путем использования следующих инженерных (технических) методов ограничения риска воздействия на работников идентифицированных опасностей:
а) применение защитных ограждений высотой 1,1 м и более, обеспечивающих безопасность работника от падения на площадках и рабочих местах;
б) применение инвентарных конструкций лесов, подмостей, устройств и средств подмащивания, применением подъемников (вышек), строительных фасадных подъемников, подвесных лесов, люлек, машин или механизмов;
в) использование средств коллективной и индивидуальной защиты.

п.35 Правил по ОТ при работе на высоте
Работодатель до начала выполнения работ на высоте должен организовать в соответствии с утвержденным им положением СУОТ <b>проведение технико-технологических и организационных мероприятий:</b>
 </p>

<a name="events5"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
Технико-технологические мероприятия
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
    <li><a class="dropdown-item" href="#events5"  style="white-space: break-spaces;">• разработка и выполнение плана производства работ на высоте или разработка и утверждение технологических карт на производство работ;
• ограждение места производства работ;
• вывешивание предупреждающих и предписывающих плакатов (знаков);
• использование средств коллективной и индивидуальной защиты.
    </a></li>
  </ul>
</div>

<a name="events6"></a>

                                                                        <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton6" data-bs-toggle="dropdown" aria-expanded="false" style="width:50%; margin-bottom: 10px;  white-space: break-spaces;">
Организационные мероприятия
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
    <li><a class="dropdown-item" href="#events6"  style="white-space: break-spaces;">• распределение обязанностей в сфере охраны труда между должностными лицами работодателя и назначение лиц, ответственных за организацию и безопасное проведение работ на высоте;
• лицо, ответственное за безопасную эксплуатацию подвесной подъемной люльки;
• лиц, ответственных за утверждение ППР на высоте;
• лиц, имеющих право выдавать наряд-допуск;
• лиц, ответственных за составление плана мероприятий по эвакуации и спасению работников при возникновении аварийной ситуации и при проведении спасательных;
• лиц, проводящих обслуживание и периодический осмотр СИЗ.
   </a></li>
  </ul>
</div>

<p style="white-space: pre-wrap;"><b>СИЗ – последний барьер между потенциальной опасностью и несчастным случаем.</b>

<b>Опасность</b> --> Обучение и осведомленность --> Организационные меры --> Технические меры --> Средства индивидуальной защиты --> <b>Несчастный случай</b>
</p>

                        <br>
  <div>
      <a href="{% url 'studyapp:topic_3_2' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 2. Безопасные методы и приемы выполнения работ повышенной опасности</a>
      <a href="{% url 'studyapp:topic_3_4' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 4. Работы, связанные с работами кранов, подъемных механизмов</a>
</div>

                        <br>
      <a href="{% url 'studyapp:topics_c' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">К выбору темы</a>















                    </div>
                </div>
            </div>
        </article>
{% endblock %}