{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>Оказание первой помощи пострадавшим</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->





        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="position: fixed; left: 10px; width: 20%;">
  Вспомогательное меню по теме
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Обучение охране труда</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <b>Оказание первой помощи пострадавшим</b>
    </div>
    <div class="dropdown mt-6">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;  width: 100%;">
Выбрать тему
      </button>


              <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_0' %}" style="white-space: pre-wrap;">Введение</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_1' %}" style="white-space: pre-wrap;">Тема 1. Кровотечение</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_2' %}" style="white-space: pre-wrap;">Тема 2. Ушиб и растяжение</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_3' %}" style="white-space: pre-wrap;">Тема 3. Сердечный приступ (инфаркт)</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_4' %}" style="white-space: pre-wrap;">Тема 4. Ожоги</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_5' %}" style="white-space: pre-wrap;">Тема 5. Потеря сознания (обморок)</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_6' %}" style="white-space: pre-wrap;">Тема 6. Перелом позвоночника</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_7' %}" style="white-space: pre-wrap;">Тема 7. Инсульт</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_8' %}" style="white-space: pre-wrap;">Тема 8. Электротравма</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_9' %}" style="white-space: pre-wrap;">Тема 9. Перелом</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_10' %}" style="white-space: pre-wrap;">Тема 10. Отравление</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_11' %}" style="white-space: pre-wrap;">Тема 11. Отморожение</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_12' %}" style="white-space: pre-wrap;">Тема 12. Ранения</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_13' %}" style="white-space: pre-wrap;">Тема 13. Травмы</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_14' %}" style="white-space: pre-wrap;">Тема 14. Ампутация</a></li>
      </ul>



      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;">
        Тема 4. Ожоги
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#concepts1" style="white-space: pre-wrap;">1. Тепловой удар</a></li>
        <li><a class="dropdown-item" href="#concepts2" style="white-space: pre-wrap;">2. Ожоги глаз</a></li>
        <li><a class="dropdown-item" href="#concepts3" style="white-space: pre-wrap;">3. Химический ожог</a></li>
        <li><a class="dropdown-item" href="#concepts4" style="white-space: pre-wrap;">4. Термический ожог</a></li>
        <li><a class="dropdown-item" href="#concepts5" style="white-space: pre-wrap;">5. Ожог дыхательных путей</a></li>
      </ul>

    </div>
  </div>
</div>



                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <br>
                                               <h2 class="post-title"> <a name="concepts1"></a>Тепловой удар</h2>

<p style="white-space: pre-wrap;"><b>Симптомы:</b>
• слабость, сонливость;
• головная боль, головокружение, шум в ушах;
• учащенные пульс и дыхание;
• сухая, горячая кожа;
• повышение температуры тела, жажда, тошнота;
• судороги;
• нарушение координации, потеря сознания.

<b>Алгоритм действий:</b>
1. Перенести пострадавшего в <b>тень или прохладное место,</b> обеспечить доступ <b>свежего воздуха.</b>
2. Уложить пострадавшего <b>на спину,</b> освободить от верхней одежды.
3. Применить <b>физическое охлаждение:</b> включить вентилятор, положить холодный компресс или пузырь со льдом на голову, шею, подмышечные и паховые области, смачивать лицо холодной водой, можно обернуть пострадавшего смоченной в холодной воде простыней.
<img class="logo__image" src="{% static 'image/z13.png' %}">

4. Если пострадавший в сознании, дать <b>обильное прохладное питье</b> (минеральную воду, холодный чай, оптимально – средство для пероральной регидратации).
5. При ухудшении самочувствия пострадавшего или при потере им сознания вызвать скорую медицинскую помощь, положить его на бок в устойчивое положение
для того, чтобы облегчить дыхание и уменьшить риск попадания рвотных масс
в дыхательные пути.
6. При <b>судорогах</b> удерживать голову и туловище пострадавшего, оберегая от травм.
7. При остановке дыхания и сердечной деятельности приступить к сердечно-легочной реанимации.

<b>Запрещено:</b>
1. Погружать пострадавшего в холодную воду (возможна остановка сердца).
2. Укладывать пострадавшего на живот.
</p>


                                              <h2 class="post-title"> <a name="concepts2"></a>Ожоги глаз</h2>

<p style="white-space: pre-wrap;"><b>Симптомы:</b>
• боль, резь в глазу;
• светобоязнь;
• слезотечение;
• опаленность ресниц;
• ожоги век и кожи вокруг глаз;
• ощущение инородного тела в глазу;
• ухудшение зрения, помутнение роговицы;
• при химическом ожоге изменение цвета кожи вокруг глаз, на ней могут появиться пузыри.

<b>Алгоритм действий при термическом ожоге:</b>
1. <b>Охладить</b> глаз прохладной проточной водой <b>в течение 20 минут.</b> Веки должны быть открытыми.
2. При наличии повреждающих агентов в глазу <b>удалить</b> их коконообразным ватным тампоном или уголком чистого носового платка, смоченным антибактериальным раствором для глаз.
3. После охлаждения закапать в пострадавший глаз <b>антибактериальные глазные капли.</b>
4. Наложить на глаз стерильную марлевую повязку.
5. Обратиться к врачу.

<b>Алгоритм действий при химическом ожоге:</b>
1. Если ожог был вызван порошкообразным химическим веществом, <b>удалить его</b> перед тем, как промывать глаз – стряхнуть, сдуть, смахнуть сухой чистой тканью, не прикасаясь руками.
2. Тщательно промыть глаз проточной водой обязательно при открытых или вывернутых веках. Промывание должно длиться не менее 30 минут. Следить, чтобы вода не попадала в неповрежденный глаз.
3. Осмотреть глаз, вывернув веки, удалить ватным тампоном имеющиеся инородные частицы.
4. После промывания закапать в пострадавший глаз <b>антибактериальные глазные капли.</b>
5. Сохранить посуду или этикетку от вещества, вызвавшего химический ожог, чтобы показать врачу.
6. Обратиться к врачу.
</p>


                                              <h2 class="post-title"> <a name="concepts3"></a>Химический ожог</h2>

<p style="white-space: pre-wrap;"><b>Симптомы:</b>
• жжение, покалывание, онемение;
• кожа может быть красной, обесцвеченной, влажной, белой, мягкой, пористой или воспаленной;
• отечность;
• сильная боль;
• от раны исходит запах различных химических соединений;
• общая слабость, иногда трудности с дыханием.

<b>Алгоритм действий:</b>
1. <b>Прекратить воздействие</b> поражающего фактора – удалить пропитанную химическим веществом одежду, стряхнуть с места ожога порошкообразное средство (не касаясь руками).
2. Обильно <b>промыть</b> поврежденный участок проточной водой (но не под напором). Промывание должно длиться не менее 20 минут.
3. При ожогах негашеной известью кусочки извести удалять сухим бинтом или тряпкой.
4. При ожогах фосфором обожженную часть тела погрузить в воду, под водой удалить кусочки фосфора палочкой или ватой.
5. После промывания на место ожога наложить <b>сухую повязку. </b>
6. Доставить пострадавшего в больницу.

<b>Запрещено:</b>
1. Прокалывать пузыри, прикасаться к месту ожога руками, прикладывать вату, пластырь, лед.
2. Обрабатывать рану кремами, мазями, присыпками, йодом, спиртом.
3. Промывать место ожога водой при ожогах негашеной известью.
</p>

                                              <h2 class="post-title"> <a name="concepts4"></a>Термический ожог</h2>

<p style="white-space: pre-wrap;"><b>Симптомы:</b>
<b>1 степень:</b> покраснение и отек кожи, боль.
<b>2 степень:</b> появление пузырей, наполненных желтоватой жидкостью, интенсивная боль.
<b>3 степень:</b> лопнувшие пузыри, образование плотных струпьев, кожа теряет чувствительность.
<b>4 степень:</b> обугливание тканей, полное отсутствие чувствительности.

Алгоритм действий:
1. <b>Прекратить воздействие </b>поражающего фактора – вывести (вынести) пострадавшего из зоны действия высокой температуры, потушить (снять) горящую одежду.
<img class="logo__image" src="{% static 'image/z14.png' %}">
2. При ожоге 1-2 степени охладить рану холодной проточной водой. Держать место ожога под струей воды в течение 15 минут.
<img class="logo__image" src="{% static 'image/z15.png' %}">
3. При ожогах <b>3-4 степени</b> использовать охлаждение проточной водой нельзя. Сразу накрыть область ожога чистой влажной тканью.
4. При ожогах кистей снять кольца с пальцев.
5. После охлаждения приложить влажную повязку на место ожога (накрыть чистой влажной тканью).
6. При ожогах кистей и стоп положить между пальцами влажную ткань.
7. При отсутствии рвоты дать обильное питье (минеральную воду, чай).

<b>Запрещено:</b>
1. Обрабатывать рану маслом, сметаной, кремами, мазями, присыпками, йодом.
2. Прокалывать пузыри, прикасаться к месту ожога руками, прикладывать вату, пластырь, лед.
3. Отрывать ткань от места ожога.
</p>

                                              <h2 class="post-title"> <a name="concepts5"></a>Ожог дыхательных путей</h2>

<p style="white-space: pre-wrap;"><b>Симптомы:</b>
• резкие боли во рту, глотке, за грудиной, усиливающиеся при глотании
• усиленное слюноотделение, возможна рвота, обычно с примесью крови
• затруденное дыхание, одышка, кашель с мокротой черного цвета
• осиплость (охриплость) голоса

<b>Предположить ожог дыхательных путей можно, если:</b>
• известно, что ожог вызван паром или пламенем, получен в замкнутом пространстве
• имеется ожог лица, шеи и передней поверхности грудной клетки
• обгорели волосы и преддверие носа
• имеются следы копоти на языке и слизистой оболочке зева
• обожжены небо и задняя стенка глотки

<b>Алгоритм действий:</b>
1. Вызвать скорую медицинскую помощь.
2. Обеспечить <b>доступ свежего воздуха.</b>
3. Если пострадавший в сознании, придать полусидячее положение, обеспечить <b>максимальный покой.</b>
4. <b>Не позволять разговаривать</b> пострадавшему.
5. Если пострадавший без сознания, придать стабильное <b>боковое положение</b> с возвышенной верхней половиной туловища.
6. <b>Не оставлять пострадавшего</b> без присмотра, следить за изменением его состояния.
</p>

                        <br>
  <div>
            <a href="{% url 'studyapp:topic_5_3' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 3. Сердечный приступ</a>
            <a href="{% url 'studyapp:topic_5_5' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 5. Потеря сознания (обморок)</a>
</div>

                        <br>
      <a href="{% url 'studyapp:topics_e' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">К выбору темы</a>


                    </div>
                </div>
            </div>
        </article>
{% endblock %}