{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>Оказание первой помощи пострадавшим</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->





        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="position: fixed; left: 10px; width: 20%;">
  Вспомогательное меню по теме
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Обучение охране труда</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <b>Оказание первой помощи пострадавшим</b>
    </div>
    <div class="dropdown mt-6">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;  width: 100%;">
Выбрать тему
      </button>


              <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_0' %}" style="white-space: pre-wrap;">Введение</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_1' %}" style="white-space: pre-wrap;">Тема 1. Кровотечение</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_2' %}" style="white-space: pre-wrap;">Тема 2. Ушиб и растяжение</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_3' %}" style="white-space: pre-wrap;">Тема 3. Сердечный приступ (инфаркт)</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_4' %}" style="white-space: pre-wrap;">Тема 4. Ожоги</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_5' %}" style="white-space: pre-wrap;">Тема 5. Потеря сознания (обморок)</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_6' %}" style="white-space: pre-wrap;">Тема 6. Перелом позвоночника</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_7' %}" style="white-space: pre-wrap;">Тема 7. Инсульт</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_8' %}" style="white-space: pre-wrap;">Тема 8. Электротравма</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_9' %}" style="white-space: pre-wrap;">Тема 9. Перелом</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_10' %}" style="white-space: pre-wrap;">Тема 10. Отравление</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_11' %}" style="white-space: pre-wrap;">Тема 11. Отморожение</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_12' %}" style="white-space: pre-wrap;">Тема 12. Ранения</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_13' %}" style="white-space: pre-wrap;">Тема 13. Травмы</a></li>
        <li><a class="dropdown-item" href="{% url 'studyapp:topic_5_14' %}" style="white-space: pre-wrap;">Тема 14. Ампутация</a></li>
      </ul>



      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="white-space: pre-wrap;">
        Тема 11. Отморожение
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#concepts1" style="white-space: pre-wrap;">1. Общее переохлаждение</a></li>
        <li><a class="dropdown-item" href="#concepts2" style="white-space: pre-wrap;">2. Отморожение</a></li>
      </ul>

    </div>
  </div>
</div>



                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <br>
                                               <h2 class="post-title"> <a name="concepts1"></a>Общее переохлаждение</h2>

<p style="white-space: pre-wrap;"><b>Симптомы:</b>
• сонливость, слабость, заторможенность;
• расстройства речи, сознания и координации;
• посинение или побледнение губ;
• кожные покровы бледные, холодные;
• озноб, неконтролируемая мышечная дрожь;
• замедленное дыхание;
• слабый пульс;
• понижение температуры тела.

<b>Алгоритм действий:</b>
1. Прекратить дальнейшее охлаждение – как можно быстрее доставить пострадавшего <b>в теплое помещение.</b>
2. Снять мокрую и промерзшую одежду и обувь, переодеть в сухую теплую одежду.
3. Согревание должно быть <b>постепенным.</b> Укрыть пострадавшего теплым одеялом, на голову надеть теплую шерстяную шапочку, обложить грелками. Можно использовать изотермическое спасательное покрывало.
<img class="logo__image" src="{% static 'image/z19.png' %}">
4. Дать обильное теплое сладкое питье, накормить горячей пищей
5. При наличии признаков отморожения конечностей оказать соответствующую помощь.
6. Обратиться к врачу.

<b>Запрещено:</b>
1. Использовать источники тепла, температура которых превышает <b>40˚С</b> тепла.
2. Давать внутрь <b>алкоголь.</b>
</p>
                                              <h2 class="post-title"> <a name="concepts2"></a>Отморожение</h2>

<p style="white-space: pre-wrap;"><b>Симптомы:</b>
• кожа бледно-синюшная, холодная;
• температурная, тактильная и болевая чувствительность отсутствует или резко снижена;
• отсутствие капиллярного пульса;
• при отогревании появляются сильные боли, жжение, зуд, покраснение и отек мягких тканей;
• при более глубоком повреждении через 12-24 часа возможно появление пузырей с кровянистым содержимым.

<b>Алгоритм действий:</b>
1. Прекратить дальнейшее охлаждение – как можно быстрее доставить пострадавшего <b>в теплое помещение.</b>
2. Осторожно снять с обмороженных конечностей обувь и одежду. Немедленно закрыть обмороженные места <b>теплоизолирующими повязками</b> (ватно-марлевыми, шерстяными и др.), чтобы воздух помещения не грел кожу.
<img class="logo__image" src="{% static 'image/z20.png' %}">
3. Обеспечить <b>медленное согревание</b>. Можно пораженную конечность опустить в ванночку водой при температуре 20˚С, постепенно повышая температуру воды до 40˚С, в течение 30 минут.
4. После восстановления кровообращения наложить сухую, стерильную (чистую), свободную повязку. При отморожении нескольких пальцев проложить между ними ткань.
5. Дать обильное теплое питье, накормить горячей пищей.
6. Доставить пострадавшего в больницу.


<b>Запрещено!</b>
1. <b>Массировать, растирать</b> пораженный участок (особенно снегом), <b>натирать</b> маслом, жиром.
    2. <b>Ускорять внешнее согревание</b> обмороженных частей тела, согревать пораженные участки сухим теплом (возле горящего огня), радиатора, феном и т.п.).
    3. <b>Прокалывать пузыри.</b>
    4. Давать внутрь <b>алкоголь.</b>
</p>

                        <br>
  <div>
              <a href="{% url 'studyapp:topic_5_10' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 10. Отравление</a>
              <a href="{% url 'studyapp:topic_5_12' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 49%; display: table-cell; vertical-align: middle">Тема 12. Ранения</a>
</div>

                        <br>
      <a href="{% url 'studyapp:topics_e' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">К выбору темы</a>


                    </div>
                </div>
            </div>
        </article>
{% endblock %}