{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>Г. Средства индивидуальной защиты</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->





        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

            <a href="{% url 'studyapp:topic_4_1' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 1. Средства индивидуальной защиты органов дыхания (СИЗОД)</a>
                        <br>
            <a href="{% url 'studyapp:topic_4_2' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 2. Средства индивидуальной защиты головы</a>
                        <br>
            <a href="{% url 'studyapp:topic_4_3' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 3. Средства индивидуальной защиты органов слуха</a>
                        <br>
            <a href="{% url 'studyapp:topic_4_4' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 4. Средства индивидуальной защиты глаз</a>
                        <br>
            <a href="{% url 'studyapp:topic_4_5' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 5. Средства индивидуальной защиты кожи</a>
                        <br>
            <a href="{% url 'studyapp:topic_4_6' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 6. Средства индивидуальной защиты рук</a>
                        <br>
            <a href="{% url 'studyapp:topic_4_7' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 7. Средства индивидуальной защиты от падения</a>
                        <br>
            <a href="{% url 'studyapp:topic_4_8' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 8. Специальная обувь</a>
                        <br>
            <a href="{% url 'studyapp:topic_4_9' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 9. Специальная одежда</a>
                        <br>

            <a href="{% url 'tests:test_d' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%; min-height: 80px; padding-top: 25px;  padding-bottom: 25px;">Пройти тест: Средства индивидуальной защиты</a>



                    </div>
                </div>
            </div>
        </article>
{% endblock %}