{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>Б. Безопасные методы и приемы выполнения работ при воздействии вредных и (или) опасных производственных факторов, опасностей, идентифицированных в рамках системы управления охраной труда в организации и оценки профессиональных рисков</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->





        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

            <a href="{% url 'studyapp:topic_2_1' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 1. Безопасные методы и приемы выполнения работ при воздействии вредных и (или) опасных производственных факторов, опасностей, идентифицированных в рамках системы управления охраной труда в организации и оценки профессиональных рисков</a>
                        <br>
            <a href="{% url 'studyapp:topic_2_2' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 2. Опасные и вредные производственные факторы, обладающие свойствами физического воздействия на организм работающего человека</a>
                        <br>
            <a href="{% url 'studyapp:topic_2_3' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 3. Опасные и вредные производственные факторы, обладающих свойствами биологического воздействия на организм человека</a>
                        <br>
            <a href="{% url 'studyapp:topic_2_4' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 4. Опасные и вредные производственные факторы, обладающих свойствами психофизиологического воздействия на организм человека </a>
                        <br>

            <a href="{% url 'tests:test_b' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%; min-height: 80px; padding-top: 25px;  padding-bottom: 25px;">Пройти тест: Безопасные методы и приемы выполнения работ при воздействии вредных и (или) опасных производственных факторов, опасностей, идентифицированных в рамках системы управления охраной труда в организации и оценки профессиональных рисков</a>



                    </div>
                </div>
            </div>
        </article>
{% endblock %}