{% extends 'info/header_footer.html' %}

{% load static %}

{% block content %}
                <!-- Page Header-->
        <header class="masthead" style="padding-top: 150px; padding-bottom: 100px;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
<!--                    <div class="col-md-10 col-lg-8 col-xl-7">-->
                    <div style="width: 100%">
                        <div class="post-heading">
                            <h4>Электронный курс</h4>
                            <h2>Оказание первой помощи пострадавшим</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content-->





        <article class="mb-4">
            <div class="container px-4 px-lg-5">


                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

            <a href="{% url 'studyapp:topic_5_0' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Введение</a>
                        <br>
            <a href="{% url 'studyapp:topic_5_1' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 1. Кровотечение</a>
                        <br>
            <a href="{% url 'studyapp:topic_5_2' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 2. Ушиб и растяжение</a>
                        <br>
            <a href="{% url 'studyapp:topic_5_3' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 3. Сердечный приступ (инфаркт)</a>
                        <br>
            <a href="{% url 'studyapp:topic_5_4' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 4. Ожоги</a>
                        <br>
            <a href="{% url 'studyapp:topic_5_5' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 5. Потеря сознания (обморок)</a>
                        <br>
            <a href="{% url 'studyapp:topic_5_6' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 6. Перелом позвоночника</a>
                        <br>
            <a href="{% url 'studyapp:topic_5_7' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 7. Инсульт</a>
                        <br>
            <a href="{% url 'studyapp:topic_5_8' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 8. Электротравма</a>
                        <br>
            <a href="{% url 'studyapp:topic_5_9' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 9. Перелом</a>
                        <br>
      <a href="{% url 'studyapp:topic_5_10' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 10. Отравление</a>
                        <br>
      <a href="{% url 'studyapp:topic_5_11' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 11. Отморожение</a>
                        <br>
      <a href="{% url 'studyapp:topic_5_12' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 12. Ранения</a>
                        <br>
      <a href="{% url 'studyapp:topic_5_13' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 13. Травмы</a>
                        <br>
      <a href="{% url 'studyapp:topic_5_14' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%;">Тема 14. Ампутация</a>
                        <br>

            <a href="{% url 'tests:test_a' %}" class="btn btn-outline-info btn-lg" tabindex="-1" role="button" aria-disabled="true" style="margin-bottom: 5px; width: 100%; min-height: 80px; padding-top: 25px;  padding-bottom: 25px;">Пройти тест: Оказание первой помощи пострадавшим</a>



                    </div>
                </div>
            </div>
        </article>
{% endblock %}